[2013-03-26 12:27] tfar opened #1 "Problem Handling Filenames With Spaces"
Trying to execute,

, I get the following error from Grobid:

I'd be great if it could handle filenames with spaces.

[2013-05-24 00:02] #1 closed, assigned to kermitt2

[2013-05-27 22:12] MarioHoberg opened #2 "Build/Test error"
Several tests fail for me because getAttributes() functions of the tests use Sets on a type that does not support comparable. Replacing Set/TreeSet with Vector allow me to successfully build GROBID.

<pre>
diff --git a/grobid-core/src/test/java/org/grobid/core/annotations/DescriptionTest.java b/grobid-core/src/test/java/org/grobid/core/annotations/DescriptionTest.java
index a5337bc..3c08462 100644

[2013-05-30 21:56] #2 closed, assigned to kermitt2

[2013-06-03 21:23] holoxy opened #3 "Recursive extraction"
Thanks a lot for the very promising meta data extraction tool.

Would it be possible to add a option for recursive extraction for folders and subfolder?

[2013-06-03 21:25] holoxy opened #4 "Bug in Fulltext training"
The training data for fulltext models creates corrupt XML files, which causes the trainer to crash.

[2013-06-03 21:30] holoxy opened #5 "Force tags for conference papers/presentations"
As conference papers or presentations often do not contain sufficient bibliograhic information it would be helpful to force the value of certain tags (meeting, date, location ...).

A howto or a parameter within grobid would be very helpful.

[2013-06-03 21:42] holoxy opened #6 "Consolidation of extracted data"
From my point of view, grobid would be unbeatible, if the information extracted would be consolidated with a free online database.

Are there alternatives to crossref, as this is quite expensive?

[2013-06-08 23:23] holoxy opened #7 "Training header does not work for some papers"
If the bibliographic data is at the second page of the paper, creating the training header file (*.header) doesn´t work properly: There is no information, written at the second page, included in the *.header file. --> training does not work.
That´s also the case for some other articles, there the journal name, written at the first page, is not included in the *.header files.

[2013-06-25 08:20] liar666 opened #8 "Bad name for files generated by createTrainingFulltext"
When executing grobid-core's createTrainingFulltext method, the tei xml files generated for the references have a typo in their name: they are called "...tra**ni**ning.references...":  'i' and 'n' are inverted.

[2013-06-25 08:24] liar666 opened #9 "Uninformative error message when bad directory is provided"
When commands of grobid-core are run with a non existing directory for the -gH option, the error refers to a non-existing 'null' directory (instead of the erroneous directory entered). This is not serious, but this does not help the user to find the source of the error and correct it quickly.

[2013-06-25 08:25] liar666 opened #10 "Typo in the generated XML file for training"
When using createTrainingXXX, with papers where a middle name is present in the authors' names, the generated XML file shows "<middle>XXX</middle>.", with the dot after the closing tag.

[2013-06-25 08:34] liar666 opened #11 "NullPointerException when running grobid-core's processXXX commands"
When running grobid-core's commands "processXXX", I get a NullPointerException: - processDate (ProcessEngine:103)
- processAuthorsHeader (ProcessEngine:117)
- processAuthorsCitation (ProcessEngine:131)
  The line that causes the problem is:
  Utilities.writeInFile(pGbdArgs.getPath2Output() + File.separator + "result", result.get(0).toTEI());
  I'm not sure if it comes from the result being "null"

[2013-06-25 11:51] liar666 opened #12 "Update PDF documentation"
The file "grobid-service_manual.pdf", does not reflect exactly the lastest version (2.8) of the tool.
At least update the pictures, the tool is prettier now :)

[2013-06-25 11:58] #8 closed, assigned to liar666

[2013-06-25 12:19] liar666 opened #13 "Train Grobid on more diverse examples"
Testing Grobid on papers from arXive.org, I've found at least two cases that Grobid does not manage correctly:
- If there are 2 symbols for 1 author with 2 affiliations, then the 2nd symbol becomes his last name;
- If there is a quote symbol in the author's lastname (e.g., O'Hare), then the lastname is only the first charaters before the quote.

[2013-06-25 14:05] #9 closed, assigned to liar666

[2013-08-02 14:47] xanagit opened #14 "CRFPP library not well supported on Windows"
Lot of functions of CRFPP that works on Linux/Mac does not work at all on Windows.

On training (the function what is not recognized):
java.lang.UnsatisfiedLinkError: org.chasen.crfpp.CRFPPJNI.CRFPPTrainer_what(JLorg/chasen/crfpp/CRFPPTrainer;)Ljava/lang/String;
 at org.chasen.crfpp.CRFPPJNI.CRFPPTrainer_what(Native Method)
 at org.chasen.crfpp.CRFPPTrainer.what(CRFPPTrainer.java:41)
 at org.grobi

[2013-08-08 12:37] liar666 opened #15 "Day/Month/Year not set"
Hi,

When I parse a standard scientific paper [1], with the code proposed in [2]
and print the resulting BiblioItem, I get:
...
 month='null'
 e_month='null'
 s_month='null'
 a_month='null'
...
 e_year='null'
 s_year='null'
 a_year='null'
 year='null'
...
 day='null'
 e_day='null'
 s_day='null'
 a_day='null'
...
 normalized_publication_date=20-6-2013 / 20-Jun-2013
...
 normalized_submission_date=n

[2013-08-08 15:41] liar666 opened #16 "Abstract has no space between words"
When processHeader'ing some pdfs, I get an abstract with all words concatenated without spaces between them.

For instance:
http://guillaumemuller1.free.fr/Articles/iTrust2006_LNAI.pdf
But not with:
http://search.arxiv.org:8081/paper.jsp?r=1306.4727&qid=1375964777082mix_nCnN_-1091422823&qs=1306.4727

However, pdftoxml ran in commandline separates the words (TOKENs) correctly.

[2013-08-20 12:15] liar666 opened #17 "Calling twice MockContext.setInitialContext result in Exception being raised"
I've tried to apply the code provided here:
https://github.com/kermitt2/grobid/wiki/Grobid-java-library
in a WebService context, where I crawl entire websites and need to run grobid everytime I find a PDF. Unfortunately, calling twice the line:
MockContext.setInitialContext(pGrobidHome, pGrobidProperties);
results in an Exception being raised:
Caused by: org.grobid.core.exceptions.GrobidPropertyEx

[2013-09-20 14:41] #17 closed, assigned to nobody

[2013-09-24 16:56] #12 closed, assigned to kermitt2

[2013-09-27 03:44] stuartyeates opened #18 "build failed on linux 32 bit"
I'm following the instructions in the readme to get the code working, but getting the error:

Caused by: java.lang.RuntimeException: Unable to find a native CRF++ library: Folder /media/D020-1F62/github/grobid/grobid-home/lib/lin-32 does not exist

I'm on  "Linux rb-806-02-c 3.0.0-32-generic-pae #51-Ubuntu SMP Thu Mar 21 16:09:48 UTC 2013 i686 i686 i386 GNU/Linux"

[2013-10-18 14:48] juanremi opened #19 "What i need to run it?"
Hi i try to compile this project, but i get errors using this guide:
https://github.com/kermitt2/grobid/wiki/Grobid-service-quick-start

Tests run: 154, Failures: 0, Errors: 44, Skipped: 1

[INFO] ------------------------------------------------------------------------
[ERROR] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] There are test failur

[2013-11-01 23:53] holoxy opened #20 "Bug in compilation"
I´m not able to compile th actual version of grobid on linux (64bit):

The error messages in the log files look like this:

Tests in error:
  testFullTextTrainingParser(org.grobid.core.test.TestFullTextParser): An exception occured while running Grobid training data generation for full text.
  testFullTextParser(org.grobid.core.test.TestFullTextParser): An exception occured while running Grobid.

[2013-11-16 22:49] #20 closed, assigned to nobody

[2014-03-27 15:00] kermitt2 opened #21 "Embed wapiti jar"

[2014-03-27 15:03] kermitt2 opened #22 "JNI bindings for Wapiti on Windows"

[2014-03-27 15:04] kermitt2 opened #23 "Remove augmented affiliation/address labels for the affililiation parser"
Don't use feature matrix for doing that, to ensure genericity between CRP++ and Wapiti
See runReflow stuff in the affiliation parser...

[2014-03-27 15:05] kermitt2 opened #24 "Get rid of fields in Document class"
For multi-thread support.

[2014-03-27 15:06] kermitt2 opened #25 "Instance level evaluation not working with Wapiti"
Check segmentation of instances in the labeled result.

[2014-03-27 15:06] kermitt2 opened #26 "Index out of bound in the Patent parser"
Index out of bound in the Patent parser test when using wapiti

[2014-03-27 15:08] kermitt2 opened #27 "Getting rid of CRF++"
At some point, we could use only Wapiti since it provides only advantages as compared to CRF++. This would simplify the maintenance given that we need otherwise to manage two set of JNI libraries and models.

[2014-03-27 15:20] kermitt2 opened #28 "Switch Wapiti branch to trunk"
When ready ;)

[2014-03-27 17:26] #25 closed, assigned to kermitt2

[2014-03-30 00:04] kermitt2 opened #29 "Grobid Service not properly initialized in the Wapiti branch"
Grobid Service uses the class ModelMap for initialize the models (initModels), and thus not the new TaggerFactory.

[2014-04-11 21:40] #26 closed, assigned to kermitt2

[2014-04-25 00:27] smcdonald-bepress opened #30 "Build fails on OS X and Linux"
I have little experience with Maven, so it's entirely possible that I'm doing something wrong. I'm following the Quick Start Guide, and it looks like maven is downloading a bunch of HTML files and trying to use them as .jars when I run "mvn clean install"

[code]

All of those files look to be HTML not jars. I'm seeing exactly the same thing on both OS X and Linux

On Linux:
    Apache Maven 2.2.1

[2014-06-05 14:34] philgooch opened #31 "Malformed TEI XML created by toTEIHeader in TEIFormater.java"
tei.append("\t\t\t\t\t</monogr>\n"); on line 407 of TEIFormater.java is in the wrong place, it should be moved to after the closing } on line 409.

Also, lists are not being closed consistently, suggest adding

if (listOpened ) {
  tei.append("\t\t\t\t</list>\n");
  listOpened = false;
}

after the for loop at line 704. I will send a push request shortly.

Great tool by the way, GROBID seems to be

[2014-06-19 17:32] philgooch opened #33 "Adding support for other PDF to XML engines"
I'm adding support for PDFMiner (https://github.com/euske/pdfminer) and PDFBox  (https://pdfbox.apache.org)  in my fork. So far, all the tests still pass when using PDFMiner . Will issue a pull request after further testing and cleanup.

It may be an idea to decouple the PDF extraction entirely, and have the option to import raw XML or JSON directly (e.g. created by a previous process, or from a f

[2014-07-03 11:13] philgooch opened #34 "Notes on creating and correcting training data"
It would be good to share notes on best practices for editing the training data. Here's a few things that I have come up with:
1. As far as possible, use the text extracted from the PDF ‘as is’ - do not correct for poor OCR or gremlin characters, as we are focusing on improving the classification of text blocks, not correction of the extracted text. This includes retaining <lb/> line break markers

[2014-07-09 15:33] #34 closed, assigned to nobody

[2014-07-09 15:34] philgooch opened #35 "Changing the number of training iterations?"
Is there an easy way to change the number of iterations when running grobid-trainer?

[2014-07-10 11:50] #35 closed, assigned to nobody

[2014-07-16 21:31] ansdma opened #37 "InvocationTargetException Exception"
I tried to run the [wiki example](https://github.com/kermitt2/grobid/wiki/Grobid-batch-quick-start#processheader) to extract header, however, I got this error:

[code]

Any clue?

[2014-07-17 14:22] #37 closed, assigned to nobody

[2014-07-17 14:38] ansdma opened #38 "How to get tags probability?"
Is it possible to get the probability/confidence of each tag?

[2014-07-17 15:00] #30 closed, assigned to nobody

[2014-07-17 15:27] #38 closed, assigned to nobody

[2014-10-13 13:34] liar666 opened #39 "NullPointerException when files are not readable"
Hi,

I just ran into a strange behaviour: when trying to access files in a dir (/tmp/ToTreat) that all belonged to another user, I ran into a not-really-explicatory-error: NullPointerException...

$ GROBID_HOME=/home/xxx/grobid/grobid-home/
$ DIR=/tmp/ToTreat/
$ java -Xmx1024m -Xms1024m \
    -jar ${GROBID_HOME}/../grobid-core/target/grobid-core-0.2.*.one-jar.jar \
    -gH ${GROBID_HOME} \
    -gP

[2014-12-04 09:38] rloth opened #40 "typo in grobid-trainer "Usage" warning"
When running grobid-trainer with wrong arguments it replies with a 'Usage' line containing this :
"Usage: (...) -pH /path/to/Grobid/home (...)"

the -pH switch is a typo  => the TrainerRunner expects -gH

[2014-12-09 16:16] #40 closed, assigned to nobody

[2015-01-05 14:36] liar666 opened #41 "version `GLIBC_2.14' not found"
Hi,

Under the latest up-to-date Debian GNU/Linux 7 (wheezy), I get the following exception when running grobid:

Exception in thread "main" java.lang.reflect.InvocationTargetException
        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:57)
        at sun.reflect.DelegatingMethodAccessorImpl.inv

[2015-01-05 20:47] #31 closed, assigned to nobody

[2015-01-05 20:48] #22 closed, assigned to detonator413

[2015-01-05 20:50] kermitt2 opened #42 "Wapiti library not supported on Windows"
See fork with JNI: https://github.com/kermitt2/Wapiti

[2015-01-05 21:00] kermitt2 commented on #28
done with commit 6ad647358ccb4f1c753a726a5e53eec7878bcfe2

[2015-01-05 21:00] #28 closed

[2015-01-06 09:24] liar666 commented on #41
Hi again,

I got:
/home/gmuller/grobid/grobid-home/lib/lin-64/libwapiti.so: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.14' not found (required by /home/gmuller/grobid/grobid-home/lib/lin-64/libwapiti.so)
        linux-vdso.so.1 =>  (0x00007ffffef3b000)
        libstdc++.so.6 => /usr/lib/x86_64-linux-gnu/libstdc++.so.6 (0x00007f72b23b4000)
        libm.so.6 => /lib/x86_64-linux-gnu/libm.so.6

[2015-01-18 00:02] kermitt2 commented on #41
The Wapiti native library has been updated in the last commit. It should solve the issue because all the dependent libraries are now with the pre-compiled libwapiti.so (no need to modify LD_LIBRARY_PATH in any cases).

[2015-01-18 00:03] #29 closed

[2015-01-18 00:05] kermitt2 commented on #27
Wapiti should be now completely integrated and the default CRF engine with commit d2318a30825385638759e457703484ac041f02bd

[2015-01-18 00:06] #21 closed

[2015-01-18 00:15] kermitt2 commented on #16
During the synchronisation between labeled tokens and the tokens coming from the PDF problems, special characters present in the PDF could result in this lack of space between tokens. Additional checks have been introduced to avoid that.

[2015-01-18 00:15] #16 closed

[2015-01-19 10:05] liar666 commented on #41
Hi,
I've updated the sources in my git repository and run the command again

It seems the wapiti-lib error has gone, since I can read on the terminal:
[Wapiti] Loading model: "/home/gmuller/grobidNEW/grobid-home/models/fulltext/model.wapiti"
Model path: /home/gmuller/grobidNEW/grobid-home/models/fulltext/model.wapiti
[Wapiti] Loading model: "/home/gmuller/grobidNEW/grobid-home/models/segmentation/

[2015-01-19 15:05] kermitt2 commented on #41
Thanks for the feedback!

This is an other type of error, I will close this issue, but can you send me maybe per email these problematic PDF so that I can look what's going on with them?
Is it just a couple of PDFs among a large number of them or it happens for you for each pdf?
See you!

[2015-01-19 15:05] #41 closed

[2015-01-19 17:44] kermitt2 opened #43 "Problem with Wapiti model portability on some (rare) Linux machines"
The Wapiti binary models are not recognized on a few Linux machines.

* Load model
error: invalid model format

The error is coming from model.c in Wapiti, when the header of the model is parsed via fscanf:

		278-/* mdl_load:
		279- *   Read back a previously saved model to continue training or start labeling.
		280- *   The returned model is synced and the quarks are locked. You must give to
		2

[2015-01-24 00:38] vha14 opened #44 "Support running Grobid in Apache Spark"
We are considering running Grobid in our Spark environment as part of the Semantic Scholar project. Currently, PDFs are shuffled to Spark nodes as RDDs of byte arrays which live in the nodes' main memory. These byte arrays currently need to be output to a temporary directory which is used as value for `-dIn` argument. The extracted XMLs are then read from a temporary directory (the `-dOut` argumen

[2015-01-28 06:26] kermitt2 commented on #44
Current state of thoughts about a JNI for pdf2xml:

pros:
- doable: a JNI for pdf2xml looks doable using C++ memory mapped files
- PDF files can be loaded by Grobid from byte arrays and processed without disk access, making Grobid a process which can run on Apache Spark without disk write/read
- it should improve the overall runtime because no more temporary files would be needed when using pdf2xm

[2015-01-31 05:35] kermitt2 commented on #43
Ok first guess, the mpl->type is not expressed in a portable way. We have in ``model.h``:

	int       type;    //       model type

which is serialized in ``model.c`` with (line 271):

	fprintf(file, "#mdl#%d#%"PRIu64"\n", mdl->type, nact);

``%d`` is suspicious as a portable format specifier... If we use uint64_t, the correct macro would be SCNu64 and PRIu64 for the type as well.

[2015-01-31 07:00] kermitt2 commented on #43
Other hypothesis to test maybe:
- other data type in the model not serialized in a portable way (a double?)
- issue with the LOCALE C (e.g. a float serialized 0.101 or 0,101 depending on the LOCALE)
- a data mapping issue in the SWIG bindings

[2015-02-02 13:00] rloth commented on #43
Your second hypothese is the right one. On my machine, the bug was systematic in locale fr.FR-UTF-8

Everything went back to normal after doing simply:
export LC_ALL=C

Thanks for this suggestion !

[2015-02-02 13:07] kermitt2 commented on #43
Great thanks a lot Romain!
Let's try to find a way now to force the LOCALE in Wapiti, so that the library becomes independent of the environement's LOCALE.

[2015-02-03 13:30] kermitt2 commented on #43
The locale has been set in our Wapiti trunk with the C ``locale.h`` lib before reading and saving a model. See http://en.wikipedia.org/wiki/C_localization_functions. It does not affect the Locale of the environment which is unchanged.

Having tested Grobid after setting the environment Locale to fr_FR.UTF-8, grobid worked fine, so it should be solved with commit bbdea1c613f59fb97ff6615c4e16b75adfb

[2015-03-13 01:37] vha14 opened #46 "Grobid hangs on a PDF"
This is the PDF: http://www.aclweb.org/anthology/W12-4305

Grobid was able to process this file with `-exe processHeader`, but hanged when run with `-exe processReferences` and `-exe processFullText`.

[2015-03-13 02:26] kermitt2 commented on #46
Hi! I obtain a TEI with -exe `processFullText` for this PDF with the current Grobid version on my Mac.
Are you using an older version of Grobid?

Probably not related to the hanging I think, the segmentation on this PDF looks bad, not clear why... I will have to look more carefully. I am still in the process of adding more training data for the initial segmentation model so it improves slowly.

[2015-03-13 02:31] kermitt2 commented on #46
This is the TEI I obtain: [link](https://grobid.s3.amazonaws.com/W12-4305.tei.xml)

(the fulltext body is not very good and incomplete in term of structures, because I am (re)working on it since a couple of days)

[2015-03-13 03:09] vha14 commented on #46
Hi Patrice, you are right. This happens with 0.3.1. After updating to 0.3.3 this problem went away. Many thanks!!

[2015-03-13 03:09] #46 closed

[2015-03-13 15:18] kermitt2 opened #47 "Failure in some recompositions of diacritics"
Grobid uses quite a lot of rules to recompose diacritics (never encoded as such in PDF), e.g.:
e' -> é

In some cases (not so frequent), the sequence of characters from the PDF is the not as expected for the existing rules and the recomposition fails. Currently the consequence is that both the "accent" and the modified charcater diseapper.

Example: for [this PDF](https://grobid.s3.amazonaws.com/N

[2015-03-13 15:30] kermitt2 opened #48 "Character spacing issues with pdftoxml"
In the line "Converting PDF to XML is a bit like converting hamburgers into cows" (Michael Kay), character spacing in PDF is not what we see ;)

A good PDF processing libraries like pdftoxml is trying to recreate valid spacing (with respect to the visual rendering), but of course it is difficult.

It appears that quite a lot of PDF result in problematic charcater spacing for some fonts, in particu

[2015-03-13 15:39] kermitt2 commented on #48
Some possibilities:

+ improve pdftoxml to recover spacing from charcater positions. We can estimate the averation spacing ratio in a sequence of characters and use it to decide about the occurence of a space or not at a given place.
+ add a post processing in Grobid, for instance a specialised Shannon's noisy-channel model with a character language model for post-correction - like for OCR post-co

[2015-03-13 17:07] kermitt2 commented on #43
It looks like nobody complained anymore about this problem after the fix, so let's close it ;)

[2015-03-13 17:07] #43 closed

[2015-03-13 17:13] kermitt2 commented on #7
So the segmentation model introduced in version 0.3 is now explicitly identifying the cover page. I am waiting to have more training data on this new model to change the header processing accordingly.

[2015-03-17 17:14] ulf2us opened #49 "Pooling Question/Bug?"
Hi,

I am using the latest Grobit Verison with j2sdk1.7-oracle on SMP Debian 3.2.60-1+deb7u1 x86_64 Linux
and it seems the Grobid is somehow unable to use it's pool, I have messages about an error in my log

ulf@ivanova:/data/delivermath/grobid/grobid-service$ tail -f grobid.log

17 Mar 2015 18:03.03 [INFO ] GrobidRestService         - Initiating Servlet GrobidRestService
17 Mar 2015 18:03.03 [INF

[2015-03-17 18:02] kermitt2 commented on #49
Hi Ulf,

This information should actually not be logged as an ERROR sorry, but as INFO. I will correct that.

If you have only one thread available for Grobid, it should be correct. If you have more available threads and only one thread is used in the pool, there could be an issue related to your environment because several tests were fine with the same JDK and Ubuntu or CentOS and with many threa

[2015-03-23 23:46] JKillian opened #50 "Not well-formed xml output"
I've been running GROBID on a variety of pdfs as of late and came across one where the xml is not well-formed. I'm using GROBID as a service via its `processFulltextDocument` method.

[Offending PDF](https://www.dropbox.com/s/pbxlap3t1bxjf0c/paper.pdf?dl=0)
[Resulting XML file](https://www.dropbox.com/s/pcx1kg3ksoeit6o/result.xml?dl=0)

The problem with the XML file is in Line 172 (below, line-bre

[2015-03-24 00:49] JKillian commented on #50
Seeing the same thing with a PDF that is mostly images:
[PDF](https://www.dropbox.com/s/tmbxs5oa1hbsqs4/imagepdf.pdf?dl=0)
[Result XML](https://www.dropbox.com/s/7nqr5v3861ppqer/imagepdf.xml?dl=0)

In this case there's a stray `</back>` tag near the end:

[code]

[2015-03-24 18:22] kermitt2 commented on #50
Thanks ! The two cases have been fixed in the meantime, a couple of weeks ago :)

[2015-03-24 18:25] JKillian commented on #50
Thanks for the update! I'll grab the newest version of GROBID and close this issue as long as the issues don't persist.

[2015-03-24 18:42] JKillian commented on #50
Updated and then retested on the documents above, seems like everything is working correctly. Thanks for the great work!

[2015-03-24 18:42] #50 closed

[2015-03-25 14:03] kermitt2 opened #51 "Add date of production of TEI document"
Grobid should indicate in the generated TEI results the date, provenance information (i.e. which version of Grobid) and if the result has been combined or not via CrossRef.

[2015-04-09 23:32] kermitt2 commented on #47
Fix with commit 9e6c365df054c948bb2f396c17027f6aa125af8f and 38c95704beee62f82d4ba21916fd7ea21c9f57f4

[2015-04-09 23:32] #47 closed

[2015-04-16 20:22] jcboyd opened #53 "Segmentation corpus incomplete?"
Grobid experts,

When I process with the shipped Segmentation model, the performance is excellent--accuracy and F1 scores are close to perfect in all fields (this is reflected in the annotations themselves). However when I train a new model on the shipped Segmentation corpus, the evaluation is very poor. I can think of three possible reasons to explain this:

1) The training set shipped is only a

[2015-04-17 22:49] kermitt2 commented on #53
Hi !

The training set coming with the GitHub distribution is complete and should result in the same model as shipped. I just test it for the segmentation model with a fresh clone of the project and the new trained model is working fine.

However having only 6 iterations with the Wapiti l-bfgs training is indeed not the normal behaviour... you should have 164 iterations to be precise. This happens

[2015-04-20 12:45] jcboyd commented on #53
Thank you for the swift response!

With the command to train,

java -Xmx1024m -jar grobid-trainer/target/grobid-trainer-0.3.3-SNAPSHOT.one-jar.jar 0 segmentation -gH grobid-home,

the output is the following:

* Summary
    nb train:    120
    nb labels:   17
    nb blocks:   605498
    nb features: 10293738
* Train the model with l-bfgs
  [   1] obj=120249,04  act=1330693  err=18,98%/100,00% tim

[2015-04-20 23:04] kermitt2 commented on #53
Thank you very much for the details!

You can use indeed CRF++, but you will loose the advantages provided by Wapiti: faster training, more compact models and less memory used.

In my tests, the wapiti training is successful on recent Ubuntu and CentOS 64 bit environments.

I suspect the following problem. The parameters for Wapiti are passed as a string during the JNI call (ok it's not the best p

[2015-04-20 23:11] kermitt2 commented on #53
So I've tried to improve how the epsilon parameter is given to Wapiti in the latest commit 0824aa8cd630d49d850bbf6850fb18941bbac259

If you have a chance to update your Grobid and test again the training, I am interested in your feedback!

[2015-04-22 12:29] jcboyd commented on #53
Thank you very much, this has resolved the early stopping issue!

[2015-04-22 12:30] #53 closed

[2015-06-23 09:52] kermitt2 opened #55 "Failure information with RESTful interface"
When Grobid fails to process a PDF, the REST response should indicate if the failure is due to a PDF timeout, a corrupted PDF or a Grobid process error.

[2015-07-01 13:45] rloth opened #57 "{"&" + "amp"} different than {xml entity "&amp;"}"
Hello Patrice,

I have noticed a small bug in grobid.core.utilities.HTMLEncode() with the ```skip``` boolean being too laxist !

An input sequence (str from BiblioItem result) that contains '&' and characters like 'amp' or 'quot' will be mistakenly recognized as an XML entity (althought it has no ';')

For instance imagine this input document:
![image](https://cloud.githubusercontent.com/assets/12

[2015-07-06 16:03] kermitt2 commented on #57
Hi Romain,

Thank you for the detailed error report!

This is fixed in commit da8843f2757f1f52e1b0c8d8eba82c130558aa28 and I've added in the test the case you provided.

[2015-07-06 16:03] #57 closed

[2015-07-10 13:28] rloth commented on #57
Thank you Patrice !

[2015-07-10 15:47] kermitt2 commented on #57
Sorry romain, I should have let you close yourself the issue you opened, much better practice ;)

[2015-07-11 17:34] rloth commented on #57
np :)

[2015-07-25 12:20] alexduch opened #58 "Write evaluation report to a file"
Hello !

Running the evaluation, I've seen that the report is only printed to the sysout. This is not really convenient, I think that there should be a possibility to write it to a file, so the results can be kept and exploited easily.

I will work on it in my fork, if someone else as any requirement regarding this, please let me know

[2015-07-25 17:36] kermitt2 commented on #58
Hi Alex,

Yes this would be clearly an improvement! I though first about writing some sort of XML or JSON report. But the last time I though about it, my idea was rather to write a markdown file so that the report could be added to the Grobid document and compiled with the existing readthedocs.org plug in.

[2015-07-27 21:03] alexduch commented on #58
Thanks for your feedback.
I took a quick look at markdown, I think it can be implemented without any major issue.
On my side, I was thinking about producing CSV files and HTML tables.

[2015-07-29 01:57] sujen1412 opened #59 "Publishing grobid-core to Maven central"
I am trying to integrate grobid into Apache Tika for metadata extracion. It would be nice to have grobid-core published to maven central to make adding the dependency in pom.xml easier.

[2015-07-29 16:01] sujen1412 commented on #59
https://issues.sonatype.org/browse/OSSRH-16837

[2015-07-29 16:32] kermitt2 commented on #59
Hello!

Thanks for the issue !

These are the problems I can remember so far about that:

1. Grobid, in addition to the grobid-core.jar file, need the resources located under grobid-home for running which include several large ML models. I think this is very large for uploading to a maven repo when producing a release.

I don't know if there is a mechanism in Maven to download large resource files

[2015-07-29 17:22] sujen1412 commented on #59
Hi @kermitt2 thank you for quick reply and the context. Some comments from me below

I don't know if there is a mechanism in Maven to download large resource files that might not be artifacts on a maven repository. If it is the case, we could think about hosting the resources files on Amazon S3 for example.

I don't think this is an issue for pushing Maven artifacts. I say this because
 * we can j

[2015-07-31 16:11] kermitt2 commented on #59
Hi Sujen!

Normally all these packages have a licence compatible with the licence of Grobid, Apache 2 so that they could be included directly with Grobid.

* Wapiti is licensed under BSD Licence, so more permissive than Apache 2,
* the used ImageIO plugin is there: https://github.com/eug/imageio-pnm
this is an MIT license, so also no problem.

Now the more difficult part: the wipo-analysers has no

[2015-08-03 08:20] zezke opened #61 "Missing patent models in master?"
Hi,

I am trying to set up some experiments using patents, but I get an error that the Model file grobidhome/models/patent/npl/model.wapiti does not exist. Could it be that some models were removed from the patent directory in the grobid-home directory?

Adding the model files from a different branch doesn't seem to work, I get complaints that grobidhome/models/patent/all/model.wapiti is in an inv

[2015-08-03 10:53] kermitt2 commented on #61
Hi !

This model for NPL-only is not used anymore, there is only one model that extract both patent and NPL references (grobidhome/models/patent/all/model.wapiti). In the current master, this NPL model is normally not loaded at all, so if you have this error somewhere I have most likely forgotten to remove a reference in an obscure place.

Can you give me your error trace and some information on h

[2015-08-03 14:31] zezke commented on #61
I am using the library as a Java lib. I recompiled the grobid-core and updated my local repository and that seemed to fix things. Seems like I got an outdated jar somewhere, might have been that I took the one from the example project.

Anyway: in short, it works. Thanks for the response!

[2015-08-03 14:31] #61 closed

[2015-08-04 01:13] chrismattmann commented on #59
thanks @kermitt2 and @sujen1412 right now we should be able to publish Wapiti and ImageIO and the analyzers to the Central repo under the Grobid group, indicating these are used in conjunction with Grobid. If at such time those particular developer communities would like to take management and ownership of publishing their artfiacts to Central they can, and we can update Grobid to use them at that

[2015-08-14 05:42] chrismattmann commented on #59
OK I got it working! https://issues.apache.org/jira/browse/TIKA-1699
It's going to be committed now, great work @sujen1412. Great library @kermitt2. Love it. Thanks and you're now integrated into Apache Tika!

[2015-08-14 05:42] chrismattmann commented on #59
@sujen1412 this issue can be closed.

[2015-08-14 14:12] chrismattmann commented on #59
@sujen1412 I am seeing build errors on Jenkins for Tika: https://builds.apache.org/job/tika-trunk-jdk1.7/822/ It seems that the other jars aren't in Central like we talked about. Can you please take care of that?

[2015-08-14 14:42] kermitt2 commented on #59
Many thanks @sujen1412 and @chrismattmann for your efforts to integrate GROBID in Apache Tika!

And thank you Chris for your nice words. It's really a pleasure to see the library used and considered useful!

[2015-08-15 15:51] chrismattmann commented on #59
Hi @sujen1412 can you re-open this? We need either those jars published in to Central or another mechanism here to integrate into Tika. One thing I was thinking of was just connecting to the GROBID server. See discussion on http://issues.apache.org/jira/browse/TIKA-1699

[2015-08-15 16:06] chrismattmann commented on #59
OK I filed an issue to upload the Wapiti jar fork:
https://issues.sonatype.org/browse/OSSRH-17124

[2015-08-15 16:13] chrismattmann commented on #59
OK here is the issue for EUGC ImageIO plugin: https://issues.sonatype.org/browse/OSSRH-17126

[2015-08-15 16:18] chrismattmann commented on #59
Here's the one for Language Detection: https://issues.sonatype.org/browse/OSSRH-17127

[2015-08-15 16:30] chrismattmann commented on #59
For Chasen CRFPP: https://issues.sonatype.org/browse/OSSRH-17128

[2015-08-15 16:35] chrismattmann commented on #59
Here's the WIPO analysers: https://issues.sonatype.org/browse/OSSRH-17129 That should be all of them.

[2015-08-18 10:25] detonator413 opened #65 "Error case for reference markers (hangs when string is long)"
This a test case from a real PDF when the string below was detected as a reference markers. The regex that is used for splitting hangs on it.

[code]

[2015-08-19 06:20] chrismattmann opened #67 "isalive REST endpoint doesn't work"
Tried to use it in tika - didn't work not sure why but will investigate.

[2015-08-19 08:16] Aazhar commented on #67
Hi,
the path declaration is missing from https://github.com/kermitt2/grobid/blob/master/grobid-service/src/main/webapp/WEB-INF/web.xml

[2015-08-19 13:46] kermitt2 commented on #67
Well I was not convinced about its usefulness and started to remove it :)
So I removed it from the web.xml file and the documentation.

Ok it is back with commit e1e205cec26628dfd07c6a9253bd821e807de746

[2015-08-19 15:59] chrismattmann commented on #67
Thanks @kermitt2 - yeah what confused me is that it was still in the documentation. Anyways thanks for adding it back @Aazhar

[2015-08-19 15:59] #67 closed

[2015-08-20 11:00] kermitt2 commented on #65
This regular expression is now only applied to the relevant preprocessed/filtered string.
Commit 4582d9c5a02705e239cbeeed7d201e0fa22634bc

[2015-08-20 11:02] #24 closed

[2015-08-20 11:05] kermitt2 opened #68 "Three new models"
Let's try to add three additional models:
- model for short text (e.g. structured abstract), currenlty we mix short and long text in the full text model,
- model for figure (captions, figure title, etc.),
- model for table.

By having independent models for figures and tables, it is easier to create training data for them and for the full text model.

[2015-08-20 11:08] kermitt2 commented on #3
I still have not added that!

[2015-08-20 11:10] kermitt2 opened #69 "Add a parameter to output or not object coordinates"
We have started to output the coordinates in the original PDF of some TEI elements (e.g. figure markers) with bounding boxes. As we will output coordinates for more objects, it would nice to have in the APIs for the full text processing a parameter to choose to output or not these coordinates.

[2015-08-20 11:12] kermitt2 commented on #14
Let's try to have Wapiti supported on Windows based on the fork https://github.com/boumenot/Wapiti

[2015-08-20 15:39] kermitt2 opened #70 "Allow reference segmenter to support text input"
Currently the reference segmenter model is applied in cascade only after the processing of the PDF input by the the segmentation model.

[2015-08-20 15:41] kermitt2 opened #71 "Allow reference segmenter to support any standalone reference texts"
The idea is to process standalone reference as text which might have a label (or not).
The citation model supposes that the standalone citation has no label.

[2015-08-21 00:40] kermitt2 commented on #3
Add possible recursive processing for ```processHeader```, ```processFullText``` and ```processReferences``` with commit 8d1c038a342e5406d161a874993da5ffbd344c03.

[2015-08-21 19:59] #3 closed

[2015-09-02 18:36] dtkaczyk opened #73 "Invalid XML on the output"
Hello,
I am trying to use Grobid batch mode to extract structured full text from PDFs (-exe processFullText). Unfortunately, the latest code version gives me invalid XML files on the output. I am not sure whether this is caused by problems with my installation or the source code.
Here is an fragment of the output XML I obtained processing the example file "Metab_Brain_Dis_2011_Mar_9_26\(1\)_1-8/11

[2015-09-02 21:44] kermitt2 commented on #73
Hello Dominika,

Thanks you for reporting the problem! It appears that I cannot reproduce it. The TEI file that I obtain for this PDF file of the PMC_sample_1943 is well-formed and different:

https://grobid.s3.amazonaws.com/11011_2011_Article_9233.tei.xml

Which version of GROBID are you using?

Normally all the TEI are well-formed since some changes in March which made the full text TEI much mor

[2015-09-02 22:05] dtkaczyk commented on #73
Hi Patrice,
Thank you for the answer.

I checked out the latest version today: 0.3.9-SNAPSHOT. I am using CRF++ library compiled for Linux 32-bit, but this does not seem relevant to the problem.

Here is the exact file I obtained: http://pastebin.com/ReH7snh7

If you think of anything that might cause this, please let me know. I will try to debug it deeper anyway.

[2015-09-02 22:20] kermitt2 commented on #73
I think the problem is the CRF++ library for linux 32 bits. I removed it from the GROBID distribution since one or two years because I can't compile and update it anymore (I don't have access to a 32 bit linux set-up and CRF++ is really hard to build with JNI).

In addition, the models for CRF++ might not have been updated for the full text model (I always forget!). I plan to remove the support of

[2015-09-02 22:32] dtkaczyk commented on #73
Thanks for the information, until now I thought the choice of CRF library affects only the time performance.

Would it be ok to use Wapiti on Linux 32-bit? Or I should also move everything to 64-bit?

[2015-09-02 22:39] kermitt2 commented on #73
I think Wapiti on Linux 32-bit should work well! But you have to build with this fork -> [Wapiti](https://github.com/kermitt2/Wapiti) which includes JNI and important bug fixes for GROBID.
If it works well, I could add Wapiti 32 bits to GROBID!

[2015-09-03 12:05] dtkaczyk commented on #73
Everything worked fine, and miraculously the output XMLs seem valid now. Thanks a lot for your help!
Would you like me to provide the resulting .so files?

[2015-09-03 22:26] kermitt2 commented on #73
Very good !!
Yes many thanks in advance for the .so, I will add it so that people on Linux-32 can have a ""out--of-the-box" solution. :+1:

[2015-09-04 12:08] KevinVdV opened #74 "Wapiti on windows 64bit, UnsatisfiedLinkError when running grobid on windows"
We are trying to use grobid on a windows installation but getting the following error:

`java.lang.UnsatisfiedLinkError: fr.limsi.wapiti.WapitiJNI.loadModel(Ljava/lang/String;)J
at fr.limsi.wapiti.WapitiJNI.loadModel(Native Method)
	at fr.limsi.wapiti.Wapiti.loadModel(Wapiti.java:22)
	at org.grobid.core.jni.WapitiWrapper.getModel(WapitiWrapper.java:34)
	at org.grobid.core.jni.WapitiWrapper.getMode

[2015-09-04 12:30] kermitt2 commented on #74
Hello Kevin,

As mentionned on the readme file and in the documentation, Windows is currently not supported by Grobid. There is no Wapiti library with JNI for Windows included in Grobid - only for Linux and Mac OS.

You might be able to use Grobid on Windows with CRP++ (instead Wapiti) as CRF native library but only on 32 bits environment, but I am not able to test it - so no guarantee!

The good

[2015-09-15 13:36] #73 closed

[2015-09-16 11:01] liar666 opened #76 "Update documentation"
Hello Kermitt2,

Thanks for the great job with Wapiti, etc.

Unfortunately, the online API documentation does not seem to be up-to-date :{

Indeed, at the end of page:
http://grobid.readthedocs.org/en/latest/Grobid-java-library/?q=keyword&check_keywords=yes&area=default#javadoc
for the javadoc of the API, we are redirected to:
http://grobid.github.io/grobid-core/index.html

And there are some oddi

[2015-09-16 11:26] kermitt2 commented on #76
The javadoc pages are updated! http://grobid.github.io
```getKeywords()``` looks better now.

[2015-09-16 12:30] liar666 opened #77 "Lucene jar imported twice?"
I'm not sure if it is only on my installation, but when I use Grobid in batch mode, I get:
JarClassLoader: Warning: org/apache/lucene/analysis/cn/smart/hhmm/SegTokenFilter.class in lib/lucene-analyzers-smartcn-4.5.1.jar is hidden by lib/wipo-analysers-0.0.1.jar (with different bytecode)

$ locate lib/lucene-analyzers-smartcn-4.5.1.jar
/home/guillaume/Softs/grobid/grobid-service/target/grobid-servi

[2015-09-16 12:48] liar666 opened #78 "Empty data is provided to Wapiti tagger: java.lang.Throwable"
On one of paper (available here: http://guillaumemuller1.free.fr/Articles/grizard_AAMAS_COIN_2006.pdf) I get the following Exception:

Empty data is provided to Wapiti tagger: java.lang.Throwable
        at org.grobid.core.jni.WapitiWrapper.label(WapitiWrapper.java:18)
        at org.grobid.core.jni.WapitiModel.label(WapitiModel.java:48)
        at org.grobid.core.engines.tagging.WapitiTagger.labe

[2015-09-24 18:52] khundman opened #79 "Parsing measurement types"
Was wondering if any thought or effort has been put towards parsing out references to specific measurements by measurement type within a doc?

For example, given a publication about satellite imagery, references to cameras' spatial resolutions could be extracted (and maybe even tied to specific satellites). Or given a publication about a disease, biomarker measurements could be extracted by type o

[2015-09-24 18:54] chrismattmann commented on #79
I'm very interested in this too thanks for filing this issue @khundman

[2015-09-24 21:37] kermitt2 commented on #79
Very good point indeed and this is one of my goal!

I have started working on a new subproject in GROBID for identifying and parsing physical measurements. There is a CRF model which identifies in text quantities and units, which are then grouped into measurements (which could be atomic, intervals, lists, ...), and then normalized into international units using JScience. Does it cover the requirem

[2015-09-24 23:11] khundman commented on #79
@kermitt2 thanks for the info! This is exactly what I am searching for. Looking forward to following your progress.

[2015-09-25 13:56] chrismattmann commented on #79
thanks @kermitt2 awesome. So is there some code we could test out @NASAJPL right now? We would love to test it.

[2015-09-28 12:36] kermitt2 commented on #79
@chrismattmann it is still early and incomplete but I will try to focus more on it and put a first version on GitHub in the next 2-3 weeks. However given the small current amount of training data, I think only a limited set of measurement types will have decent results.

[2015-09-28 13:18] kermitt2 commented on #76
OK for closing the issue Guillaume?

[2015-09-28 13:20] #65 closed

[2015-09-28 13:38] chrismattmann commented on #79
Thank you really appreciate it @kermitt2

[2015-10-01 11:41] jacquerie opened #80 "Split proceedings PDF in multiple articles"
Hi, and thanks for this awesome library.

Our users have asked for a feature: use GROBID to split a proceedings PDF in its articles. Maybe the output could be a `TEI` enriched with some tag to separate different articles. Example:
[code]

Another idea would be simply returning a list of numbers, representing the pages at which new articles start.

What do you think about this feature?

[2015-10-01 12:25] #76 closed

[2015-10-06 08:58] pradobelen opened #81 "Problem with compilation"
I cannot compile. What should I do?
Could you please help me

artemis@ubuntu:~/grobid/grobid-service$ mvn -Dmaven.test.skip=true jetty:run-war
Warning: JAVA_HOME environment variable is not set.
[INFO] Scanning for projects...
Downloading: http://repo.maven.apache.org/maven2/org/eluder/coveralls/coveralls-maven-plugin/3.1.0/coveralls-maven-plugin-3.1.0.pom
Downloaded: http://repo.maven.apache.org/

[2015-10-06 13:46] kermitt2 commented on #81
Hello!

You need to build first Grobid from the root project ```grobid/``` before starting the service from ```grobid/grobid-service```.

See http://grobid.readthedocs.org/en/latest/Install-Grobid/

[2015-10-07 11:35] pradobelen commented on #81
Thank you!
That helped me

[2015-10-07 14:26] #81 closed

[2015-10-12 21:26] chrismattmann commented on #79
Hey @kermitt2 @khundman one thing I just mentioned to Kyle. [Apache cTAKES](http://ctakes.apache.org/) which is a Clinical Text and Knowledge Extraction System (cTAKES) is built on top of UIMA and extracts biomedical data from text. Well some of its annotators also do measurements and dates/times. We use it in [Tika](http://wiki.apache.org/tika/cTAKESParser) and it's already integrated. I wonder i

[2015-10-13 12:40] pradobelen opened #82 "HTTP ERROR 503"
Hello,
I have compiled grobid service
but when I try to test service via url:
I receive following error:

HTTP ERROR 503
SERVICE_UNAVAILABLE
Thanks in advance for your assistance

[2015-10-22 11:52] kermitt2 commented on #82
Can you give the error message in the logs? Normally the logs are written in the console.
Note that Windows is currently not supported by Grobid (the native CRF Wapiti library is missing).
If you simply want to test the library, I can give you access to a demo service.

[2015-10-22 12:33] kermitt2 commented on #80
Thank you for the feedback!

This is indeed an additional service that was already requested. There is in GROBID a model called ebook which was introduced to perform something a little bit more general - to split an ebook into chapters. Segmenting some proceedings into individual articles could be seen as a particular version of the task.

Unfortunately this work was just an experiment and is far

[2015-11-17 23:32] k8si opened #83 "Field labels that appear in the header training data do not get reported in evaluation"
The fields

copyright, dedication, degree, entitle

all appear as labels in the header training data, but the evaluation reports no result for them. Is this a mistake or is there a reason for this?

[2015-11-18 00:09] kermitt2 commented on #83
Hello,

Normally these fields appear in the evaluation report, but they don't frequently appear in the training data. What set of data are you using for the evaluation?

Using the "split train evaluate", I can see them in my older evaluation report:

[code]

[2015-11-18 01:04] k8si commented on #83
I am using the test data produced by

(the one that gets stored in grobid-home/tmp).

However, I just realized that this file contains no instances of the labels I mentioned. So that must be why these fields are never evaluated. Thanks!

[2015-11-18 02:30] #83 closed

[2016-01-14 14:58] liar666 opened #87 "Upgrading documentation"
Hi,

I just switched to v4 (from a very old version, 2?) and my code does not compile anymore, I get errors related to org.grobid.core package not existing anymore (and lots of probably related errors), like:
"error: package org.grobid.core.engines does not exist
import org.grobid.core.engines.Engine;

Unfortunately, when I try find the new API in order to update my code, I find:
https://github.co

[2016-01-14 15:00] liar666 commented on #87
PS: This page is also out-of-date:
https://grobid.readthedocs.org/en/latest/Grobid-java-library/#api-call

[2016-01-14 15:13] liar666 commented on #87
Argg..... Sorry.... Not a problem with Grobid, but with the commit of a colleague that simply removed grobid as a dependency of our code!!!!

[2016-01-14 15:13] #87 closed

[2016-01-24 11:39] Phyks opened #88 "Single file JAR"
Hi,

[Cermine](http://cermine.ceon.pl/), a similar tool, is offering a single file JAR, with every dependences embedded in it: http://maven.icm.edu.pl/artifactory/simple/kdd-releases/pl/edu/icm/cermine/cermine-impl/1.8/ (and see https://github.com/CeON/CERMINE#using-cermine, executable JAR part) (which is also directly callable on PDF file or folders).

I do not know much about the JAR format and

[2016-01-25 22:21] kermitt2 commented on #88
Hello!

There are reasons for having both a jar and a separate resource "home" directory. GROBID uses native libraries to speed up the PDF parsing, the CRF processing and to be more robust. The first version of GROBID was using PDFBox and Mallet (so it was avalaible in a single jar file) like CERMINE, but the robustness, the speed and the required amount of memory of these libraries were really a

[2016-01-26 09:55] Phyks commented on #88
Ok, Thanks for the detailed explanations on this point. I think I will head to CERMINE for this particular project which is meant to run directly on the end user computer. However, I will keep an eye on Grobid as it is, indeed, much faster than CERMINE, and would be really useful for hosted projects.

Thanks!

[2016-01-26 09:55] #88 closed

[2016-02-10 14:31] Phyks opened #90 "Conversion between output formats"
Hi,

Just wondering, by chance, do you know any tool to handle and convert Grobid output to some other formats? For instance http://jats.nlm.nih.gov/archiving/tag-library/1.1/.

Thanks!

[2016-02-14 14:18] kermitt2 commented on #18
linux-32 binaries for Wapiti are present since a couple of months and GROBID should work on this architecture, but I've not tested it myself because I don't have linux-32 environment around.

[2016-02-14 14:22] kermitt2 commented on #19
Right now, GROBID is working fine with maven 3, JDK 1.7, under linux-64, mac os and normally linux-32. For Windows, this fork might be a solution: https://github.com/boumenot/Grobid.NET

[2016-02-14 14:22] #19 closed

[2016-02-14 14:23] #23 closed

[2016-02-14 14:27] kermitt2 commented on #51
This is present in the header of the generated TEI files since version 0.3.9, for dates and application information. About CrossRef, this will have to appear at another place.

[code]

[2016-02-14 14:41] kermitt2 commented on #90
Hello!

Well, there is a BibTex output for citations :)

I don't have style sheets for converting GROBID's TEI to other formats, but maybe other users have something.

Personally in different projects, I am using the TEI output as a document ingestion format, so as a working format to merge various heterogeneous documents. So I have rather the opposite, tools to convert various publishers native X

[2016-02-14 17:10] Phyks commented on #90
Concerning BibTeX output, you mean using https://github.com/kermitt2/grobid-example?

Ok for the formats. These are formats I am not at all familiar with, so I may miss important points to determine which one is the best one.

If by chance someone has a style sheet for converting TEI to JATS (or reciprocally), I would be really interested in it.

In the meantime, as it is more a question than a re

[2016-02-14 17:10] #90 closed

[2016-03-09 18:23] jjbenitez26 opened #91 "org.apache.naming.java.javaURLContextFactory in code example"
I'm trying to use de GROBID JAVA API using the example in http://grobid.readthedocs.org/en/latest/Grobid-java-library/
I'm install GROBID, compile de core, and add grobid-core-0.4.0-SNAPSHOT.jar to my libraries in a NetBeans project.
My code is:
[code]

When i run the proyect I get the following error:
[code]
Any help?
Thanks in advance.

[2016-03-09 19:53] kermitt2 commented on #91
Hello !

I think the dependency to the naming package is missing in your project, e.g. in your pom.xml:

[code]

I have updated the dummy example project for using GROBID which shows the required dependencies: https://github.com/kermitt2/grobid-example

Hope that helps!

[2016-03-10 01:27] jjbenitez26 commented on #91
Thanks, but i have another error with the same code
[code]
I can not download your code from my country.
any suggestions ?
Thanks in advance.

[2016-03-10 01:48] kermitt2 commented on #91
Again a problem of dependency, with the GROBID jar this time I think. Can you give your pom.xml or ant file?

Are you refering to the code of the example project https://github.com/kermitt2/grobid-example ? This looks strange!

[2016-03-10 04:39] jjbenitez26 commented on #91
the service is available in my country, but we have a very restricted quota system.
My pom.xml:
<?xml version="1.0" encoding="UTF-8"?>
[code]

Thanks for your time.

[2016-03-10 05:04] jjbenitez26 commented on #91
Thanks !!! You were right, dependency problem.
Thanks again !!!!

[2016-03-10 13:54] kermitt2 commented on #91
Here are the current dependencies required for using GROBID as a Java API, as present in the project grobid-example:

[code]

[2016-03-10 17:17] raviraju opened #92 "build fail on windows 64-bit"
Hi,

I initially had JDK 64-bit version installed on my Windows 10.Compiling Grobid landed me into issue http://stackoverflow.com/questions/10533290/running-grobid-on-windows-64-bit
Hence I uninstalled existing JDK 64-bit and tried 32bit, but still I am unable to compile grobid on JVM 32-bit
Please find the attached log for reference
[issue.txt](https://github.com/kermitt2/grobid/files/167650/issu

[2016-03-10 17:33] kermitt2 commented on #92
Hello!

Thanks for the interest in GROBID.

As mentionned in the documentation, Windows is currently not supported by Grobid. There is no Wapiti library with JNI for Windows included in Grobid - only for Linux and Mac OS.

If Wapiti could be compiled for Windows and the dll provided, I would add it to Grobid and it would be a great addition ;)

[2016-03-11 22:20] jjbenitez26 commented on #91
it could be this error:
[code]
here:
[code]

[2016-03-11 23:27] khundman commented on #79
Hey @kermitt2! Just wanted to check-in and see if you have made any progress toward this?  @chrismattmann and I are still very interested and would love to test.

[2016-03-13 14:44] kermitt2 commented on #79
Hi @khundman and @chrismattmann

Yes, we are making progress - actually mainly since the beginning of February when this work was seriously resumed... But I still think it's too early for a real world testing. The project is right now in a private GitHub repository  - which will go public when we are minimally happy with the results... Do you want maybe to be added to the repository to follow the

[2016-03-14 01:20] chrismattmann commented on #79
@kermitt2 we would be happy to share some training data. Also yes please add us to the private repo and we can start sharing there. cc @khundman

[2016-03-15 15:16] Xennis opened #93 "Help: Permanently run Grobid service"
In the [documentation](http://grobid.readthedocs.org/en/latest/Grobid-service/) it's described, that I can run the Grobid service by using the maven: `mvn jetty:run-war` The service stops, when I close the terminal. But how do I permanently run the service? I installed Jetty and created a `/opt/jetty/webapps/grobid.xml` file:
[code]
In this configuration file I set the `war` to the built `.war`-fi

[2016-03-15 18:50] kermitt2 commented on #93
Hello!

The service can run like any web applications, by deploying the war with a web application server, e.g. Tomcat, JBoss, Glassfish, etc. and you would have then something permanent, that can be  administrated, secure, etc.

If you want to use jetty and have no production constraints (so quick and dirty is ok ;), you can always simply use maven and detached the process from your terminal, e.g

[2016-03-17 23:31] #27 closed

[2016-03-18 22:47] #93 closed

[2016-03-22 12:27] SomnathKadam commented on #92
Thanks for time saving comment.

[2016-04-08 23:18] kermitt2 commented on #79
Now public repo ;)
https://github.com/kermitt2/grobid-quantities

[2016-04-09 06:28] chrismattmann commented on #79
👍

[2016-04-12 20:49] sagnik opened #95 "Can grobid parse citations from html files?"
I was wondering if grobid can parse citation strings from html files. For example, https://clgiles.ist.psu.edu/new_stuff.shtml has a lot of citation **strings**. I saw an example where given a citation string grobid will parse it. But, is it possible that given raw text from an html file grobid will parse it to produce the citation strings and then parse each of them?

[2016-04-12 21:48] kermitt2 commented on #95
Hi Sagnik,

For GROBID, there are two possibilities to address your use case:

+ one can save the HTML page into PDF (print into PDF for instance with the browser) and then call the service ```processReferences```, this will allow GROBID to still exploit the layout information for segmenting the citations strings.
I've just did that for your example page, and it works pretty well, all the citation

[2016-04-12 22:03] chrismattmann commented on #95
Could use Apache Tika to process the text if needed

[2016-04-13 03:43] sagnik commented on #95
Thanks. That seems like a good alternate.

[2016-04-13 04:24] sagnik commented on #95
I'm closing it now, if I develop a html parser for getting the citation strings I'll send a pull request.

[2016-04-13 04:24] #95 closed

[2016-04-13 15:52] chrismattmann commented on #95
awesome that would be great

[2016-04-13 21:59] jjbenitez26 opened #96 "Context is read only error"
I'm trying to use GRID in an application in Grails. My code looks like this:
[code]

This throw this error:
[code]

Someone told me it may be an attempt to use JDNI unconfigured.
Someone can help me find a solution?
For months I stuck in this.
Thanks in advance !!!

[2016-04-14 06:21] lfoppiano commented on #96
Dear @jjbenitez26, the code looks correct.

Googling around I have the impression your error is due to JNDI connection configuration issues (see http://stackoverflow.com/questions/14580286/context-is-read-only#14580519).

Sometimes GRAILS requires quite some work on the dependencies, it could also well be that you have the JNDI dependency in your project and is clashing with the SelectorContext. I

[2016-04-14 18:10] jjbenitez26 commented on #96
Thanks for the quick reply !
I'm not using JNDI directly,  I am using JDBC to a Postgresql database. The only thing I see related is a GROBID dependency : "directory-naming:naming-java:0.8".
When i compile the project in a WAR and run it, the error disappears and yours examples work perfect in java applications, but in Grails not work.
I have no idea that I set to work, it really is a headache.
Th

[2016-04-14 18:15] lfoppiano commented on #96
Which project are you talking about? The grails project running as a war or the grobid example project?

[2016-04-14 18:40] jjbenitez26 commented on #96
Sorry my english !
The grails project only work when i create a WAR and deploy it.
Your example in a non-web java application works good.

[2016-04-14 18:53] lfoppiano commented on #96
@jjbenitez26 no problem. If this is the case then is the usual problem of running projects with Grails.
For what concern GROBID there are no problem in my view. My suggestion is to check whether while running grails (using grails) something is misconfigured (maybe debugging it would help).

[2016-04-14 19:43] lfoppiano commented on #91
I'm closing this issue since the dependency problem was solved. The context issue is discussed in issue #96 .

[2016-04-14 19:43] #91 closed

[2016-04-14 20:06] lfoppiano commented on #78
Hi @liar666 , I've tested your pdf with the latest GROBID version, trying to extract the fulltext. I did not get the error.
Could you maybe give it another try with the latest version and tell if the exception is still occurring?

Thanks

[2016-04-15 11:48] lfoppiano commented on #49
The log has been corrected. @ulf2us if you still have the problem feel free to reopen it.

[2016-04-15 11:48] #49 closed

[2016-04-17 14:27] lfoppiano commented on #13
@liar666 I know it's a bit late, but could you please provide the documents affected by this mistake?

Otherwise I would close this issue. It's kind of obsolete ;-)

[2016-04-18 12:51] kermitt2 opened #97 "Problem using Wapiti JNI with space character in the argument path"
With the current Wapiti JNI, paths with space character given as arguments are not supported, e.g. for training.

In swig ```wapiti.i```, space is used to segment the arguments to be given to opt_parse in Wapiti, without considering quotes for instance - see methods ```loadModel``` and ```runWapiti``` :

[code]

Straightforward to improve ;)

[2016-04-18 16:12] lfoppiano commented on #97
See [here](https://github.com/kermitt2/grobid-quantities/issues/15#) more details on the issue :)

[2016-04-18 18:30] axfelix opened #98 "NLM/JATS conversion?"
Hi folks,

I'm impressed by how much Grobid's performance has improved lately, but it's difficult for us to use because we mostly target JATS output and whatever flavour of TEI that's output by Grobid doesn't seem to work well with any of the existing TEI -> NLM XSLTs that I can find.

It doesn't seem like it'd be terribly complicated to write a new XSLT and I might be willing to take this on, but

[2016-04-18 19:00] kermitt2 commented on #98
Hello!

TEI is not providing an unambiguous encoding for a document, but a set of possible encodings. So we are using a TEI customization as defined by the schemas under ```grobid-home/schemas``` (dtd, rng and xsd are provided) - the customization indicates which encoding used for which document structure.

For us, TEI is a good ingestion format, because it is very comprehensive and can be extende

[2016-04-21 16:11] kermitt2 commented on #98
Actually I should have indicated you the documentation which is quite detailed about the GROBID TEI specification: http://grobid.readthedocs.org/en/latest/TEI-encoding-of-results/

Not only that nobody read the doc, I even forget myself that I have written it :dancers:

[2016-04-22 08:59] liar666 commented on #78
Just tested with latest code from git repo.

That Works ! Thanks !

[2016-04-22 08:59] #78 closed

[2016-04-22 09:30] liar666 commented on #13
Here are two examples :
http://arxiv.org/pdf/1604.03858
http://arxiv.org/pdf/1602.03781

I've just tested, now it works ! Thanks guys for the great job :)

[2016-04-22 09:30] #13 closed

[2016-05-05 01:11] kaschioudi opened #99 "single file conversion"
Hello,

The documentation provides examples of how to convert an entire directory (batch mode). Is there a way to convert a single file? I would like to specify the path to a pdf document and the directory into which tei xml file should be created. I have looked around and was unable to find how to do so.

[2016-05-05 04:01] lfoppiano commented on #99
Dear @kaschioudi,
    the idea behind the 'batch mode' is to convert big quantity of data. If you want to convert only one file, I would recommend you to use GROBID as a service and write your own script that post it through the web interface (see [here](http://grobid.readthedocs.io/en/latest/Grobid-service/))

Regards
Luca

[2016-05-05 04:06] lfoppiano commented on #98
@axfelix have you got any news on this subject? Would be really nice to have JATS's conversion on GROBID and we are happy to assist ;)

[2016-05-05 04:08] axfelix commented on #98
I have a 100 line XSLT just targetting the front matter for now... not the most significant contribution, but it does work :)

I need to get back to this sometime soon.

[2016-05-05 04:09] lfoppiano commented on #82
This seems to be quite obsolete, and no more information were provided. I'm closing it.

@pradobelen should you still have the problem, don't hesitate to reopen it and add some more log information ;-)

[2016-05-05 04:09] #82 closed

[2016-05-05 04:11] lfoppiano commented on #98
@axfelix it's a start. ;-) Feel free to submit a PR for it and we could integrate it (to be checked with @kermitt2).

[2016-05-05 04:13] lfoppiano commented on #96
@jjbenitez26 I'm closing it, since seems to be not a problem of GROBID. If you have further information or development to share, feel free to reopen it.

[2016-05-05 04:13] #96 closed

[2016-05-05 04:16] lfoppiano commented on #18
@stuartyeates, @juanremi did you have the oportunity to test GROBID with linux 32? May I then close this issue?

[2016-05-05 04:18] lfoppiano commented on #11
@liar666 would you mind to test again this issue? I believe it shoudl be solved it. If not I'm ready to takle it quickly.

[2016-05-05 16:55] axfelix commented on #98
https://www.dropbox.com/s/e55mnc7i3stgch0/grobid-jats.xsl?dl=0

Not ready for a PR yet unless you're really keen to integrate it, but I'll let you know when I have more.

[2016-05-05 21:41] kaschioudi commented on #99
Okay. thank you for your reply

[2016-05-05 21:41] #99 closed

[2016-05-05 23:00] jalperin commented on #99
Is this something that you might consider adding? We certainly have a use case for it, and it'd be easier than running it as a service. Would appreciate it, if it's trivial on your end.

[2016-05-06 13:14] liar666 commented on #11
Hi,

I've tried it again and it seems not to crash anymore. Unfortunately, it does not seems to return anything either :[

[2016-05-08 17:13] lfoppiano commented on #11
Could you provide me the input files that are causing the error/behaviour?

[2016-05-08 17:23] lfoppiano commented on #99
@jalperin, I'd be happy to consider the idea. Could you please clarify your use case end 2 end?

[2016-05-08 17:47] kermitt2 commented on #99
Hi!

It is of course straightforward to add a single file command line process. The reason why it is not present currently is that, in such case, most of the processing time is spent for loading the models and lexicon, not processing the file. I think loading all the resources just for processing one file is not a usage to promote.

Since it is possible to use very easily the service (just on comm

[2016-05-09 08:52] liar666 commented on #11
Unfortunately, I don't remember exactly what I did when I opened the issue and I couldn't find back the files I used :[

So, for my new tests, I used mostly extracts from:
http://www.cs.toronto.edu/~graves/preprint.pdf

$ java -Xmx1024m -jar grobid-core/target/grobid-core-0.4.1-SNAPSHOT.one-jar.jar -gH grobid-home/ -gP grobid-home/config/grobid.properties -exe processAuthorsHeader -s "Vojislav Kec

[2016-05-09 08:54] lfoppiano commented on #11
@liar666 Thanks for your feedback. We will have a look at it and correct the documentation ;)

[2016-05-09 14:11] kclaes opened #100 "[Wapiti] Loading model -> error: invalid format <No such file or directory>"
Hi,

I'm trying to run grobid-service in Linux (AWS, more specifically).

The build went fine without -DSkiptests, and I've adjusted the filter.properties to replicate the correct file location (I've specified /opt/grobid-home in that file and unzipped the grobid-home artifact in said directory).

Jetty starts and loads Grobid fine.
However, when uploading a document, I get the following error in

[2016-05-09 14:30] liar666 commented on #100
I'm not a GROBID expert, but have you tried:
- to put grobid-core / grobid-home .jars in the PATH?
- to use the grobid-core ".one-jar" file?
- to add GROBID's deps in the CLASSPATH?

--
Guillaume MULLER, PhD
Presans c/o REMIX COWORKING - L'APPART
57 rue de Turbigo
75003 Paris
France
http://www.presans.com
http://feeds.feedburner.com/OYI/fr

[2016-05-09 18:43] kclaes commented on #100
Figured it out. The default image from AWS didn't have libxml2 installed, which was needed for pdf2xml.
After I installed the library, the REST-service started working...

How an wrong error message can totally set you on the wrong track..

[2016-05-09 20:34] lfoppiano commented on #100
@kclaes which error message did you get that was wrong? if it's something we can fix, would be nice to do so.

[2016-05-09 21:05] kermitt2 commented on #100
Indeed, let's reopen it !

Normally you have received the error because the path to GROBID_HOME was not set or not set correctly in your docker configuration, as explained in the [Grobid Service documentation](https://github.com/kermitt2/grobid/blob/master/grobid-service/src/main/doc/grobid-service-manual.pdf) (section 3.2). Are you sure you have not corrected this setting in-between?

Because if

[2016-05-09 21:45] kermitt2 commented on #11
@liar666 Hi, I hope you're going well! (let's try one day to meet in Paris by the way!?)

Actuallly your input strings are not consistent for the methods you are calling.

The batch ```processAuthorsHeader``` normally runs only a sequence of author names as input, so from your example:
[code]
is fine and will return the structure author name.

[code]

However, the batch processAuthorsHeader does n

[2016-05-10 10:13] liar666 commented on #11
On 09/05/2016 23:45, Patrice Lopez wrote:

Hey thanks, I hope you're dong well too. FYI, my company has moved to the center of Paris, but if you are in the neighborhood, one day, let's have a beer :)

OK Thanks for the info, that's what I was thinking ;) I'll try to put these more complete examples in GROBID's online doc this afternoon.

--
Guillaume MULLER, PhD
Presans c/o REMIX COWORKING - L'APP

[2016-05-10 16:00] kclaes commented on #100
Ok, I found out I ran into 2 problems.

- invalid format as in original bug: caused by making the maven build on a Windows (10) machine. Uploading that zip to the AWS instance cause the 'invalid format' error on the wapiti-model. I fixed/circumvented this by checking the code out on a linux machine and building the 'grobit-home'-zip on there before transferring it to AWS on putting it in a docker

[2016-05-11 21:45] lfoppiano commented on #100
@kclaes how did you manage to build GROBID's models on windows 10? Wapiti is not supported by default. Did you do something particular?

AFAIK, Wapiti doesn't build by default on windows and is not included in the GROBID installation (we are still waiting for such contribution :D).

I'll check the docker problem in the meantime.

[2016-05-12 05:36] kclaes commented on #100
@lfoppiano I just figured I could build the artifacts anywhere with Maven and then put that on a server running the application (our AWS doesn't have a complete Maven-build environment, nor do I want to).

I assumed, since Wapiti itself didn't need to be run or built, I could do it on whichever machine Maven runs on. If that's not the case, perhaps it should be included in the documentation?

[2016-05-12 07:28] lfoppiano commented on #100
@kclaes indeed. I'll check it out as well.

[2016-05-12 10:07] kermitt2 commented on #100
So we have two different issues :

- portability of the artefacts built for service deployment

- the libxml2 requirement for pdf2xml as packaged currently in GROBID for linux

I open another issue for the second one, and we can stick on the first one which corresponds to the initial reported error.

[2016-05-12 10:12] kermitt2 opened #101 "libxml2 requirement for pdf2xml on Linux"
libxml2 appears necessary on Linux for having GROBID running. Let's try to reproduce the problem. If confirmed, we should recompile pdf2xml for Linux to avoid this dynamic dependency (and update the documentation in between ;).

[2016-05-12 10:20] lfoppiano commented on #100
👍

[2016-05-12 15:17] lfoppiano commented on #18
Tested with Ubuntu 32 bit. Works fine.

[2016-05-12 15:17] #18 closed

[2016-05-13 16:44] lfoppiano commented on #100
Tested on ubuntu 32bit using virtualbox (not so easy to simulate)
1. Here the error in case of missing libxml2 library:
<img width="1011" alt="screen shot 2016-05-13 at 18 38 04" src="https://cloud.githubusercontent.com/assets/15426/15255007/f096e7ec-1939-11e6-8033-6fcfd046b0d8.png">
...and the logs:
<img width="953" alt="screen shot 2016-05-13 at 18 37 31" src="https://cloud.githubusercontent.com

[2016-05-13 16:48] lfoppiano opened #102 "GROBID docker image"
Use the input from #100, add a docker installer for GROBID that allows to build the image by just using a command name (without changing the properties files manually).

[2016-05-25 08:54] kclaes commented on #100
I'm sorry it took me a while to respond.

When I removed the libxml2 line, no error was thrown anymore regarding the missing library.

The Dockerfile I used (from the root of the project) is
[code]
Now all that is left is the maven build on windows that seems to corrupt the wapiti models.

[2016-05-25 09:39] kclaes commented on #102
Hi, a possible solution could be the added docker.diff.

The change is simple: delete filter.properties, create both profile/default.properties and profile/docker.properties and adjust pom to use these property-files.

The attached Dockerfile can be added in a different module or in the root of the project, wherever you see fit (just make sure the artifacts are correctly referenced).
Attached Dock

[2016-05-25 11:18] chrismattmann commented on #102
++1

[2016-05-30 12:41] Aazhar opened #103 "Keywords are not splitted, but just extracted as they appear in the PDF"
processing this document from hal; hal-00576900 outputs keywords containing commas :

[code]

[2016-06-01 01:01] axfelix opened #104 "Can only run in service mode on Ubuntu desktop, not server"
Hi folks!

I suspect there's some weird dependencies at work here, but I've been able to duplicate this on 12.04 and 16.04, so there's probably something amiss.

When running Grobid in service mode following the documentation, it starts up normally on Ubuntu desktop installations. However, on Ubuntu server, it prints these additional warning lines:

`[11:36]
[INFO] >>> maven-jetty-plugin:6.1.10:ru

[2016-06-06 07:42] lfoppiano commented on #104
@axfelix could you please provide the whole log when you run maven with the option -X ?

Could you also give me the result of the command `mvn dependencies:tree`?

[2016-06-06 08:08] lfoppiano commented on #100
@kclaes indeed, I've just pushed a correction for the messages. Since it is a rare case, for the time being it's better to keep the library in the system, and have a proper error message. We can provide statically the library on a second step.

Checking on windows is more complicated (and, perhaps frustrating :)). Could you give me more information on the system you have used? OS, version of Maven

[2016-06-06 21:58] lfoppiano commented on #102
@kclaes I've integrated your changes but taking the artifacts from the current structure (wars are generated into the target directory).

[2016-06-07 21:44] axfelix commented on #104
Nevermind -- this seems to be an issue with non-root users trying to start the Grobid service, which throws errors about dependency resolution. I'm not familiar enough with maven to know why that's happening, but I don't think it's a Ubuntu server issue.

[2016-06-07 21:46] lfoppiano commented on #104
@axfelix if you send me the log information I've asked you I can try to figure it out ;)

[2016-06-07 21:48] axfelix commented on #104
ok, ok :)

trying to run grobid-service as www-data after building as root (vagrant in this case) and then chowning the grobid directory to www-data for good measure results in this:

    vagrant@xmlps:/opt/grobid/grobid-service$ sudo su www-data
    www-data@xmlps:/opt/grobid/grobid-service$ mvn -Dmaven.test.skip=true jetty:run-war -U
    [INFO] Scanning for projects...
    [INFO]
    [INFO] ----

[2016-06-07 22:14] lfoppiano commented on #104
@axfelix could you please provide the whole log when you run maven with the option **-X** ?
Could you also give me the result of the command **mvn dependencies:tree**?

[2016-06-08 17:09] axfelix commented on #104
Sure! here they are when run as the www-data user.
[mvn-X.txt](https://github.com/kermitt2/grobid/files/305314/mvn-X.txt)
[mvn-dependencies.txt](https://github.com/kermitt2/grobid/files/305315/mvn-dependencies.txt)

[2016-06-08 22:18] lfoppiano commented on #104
@axfelix sorry, the second command should be mvn dependency:tree, not dependencies. My mistake.

[2016-06-09 08:21] kclaes commented on #100
Windows 10 (10586.318)
Maven 3.3.3
No emulators.

But I'm guessing it'd be with any Windows version or fairly recent Maven version.

[2016-06-09 10:35] kclaes commented on #100
I went to compare the files, and indeed, the only difference are the line endings (CR/LF on windows, LF on linux), so at this point it's safe to assume this is the culprit.
I have my git configured with autocrlf=true.

So, I created file called .gitattributes in the root of the repo, with the following content
[code]

With these changes, the model gets loaded correctly!

[2016-06-09 10:52] kclaes commented on #102
Just tried the image at https://hub.docker.com/r/lfoppiano/grobid/ and can gladly report back that it worked first try!

In Grobid-docker.md is an typo though,
The pull should read (at the time of writing):
[code]
(instead of ```docker pull lfoppiano-grobid```)

[2016-06-09 11:49] lfoppiano commented on #100
Great! I know is very small change, could you make a pull request with this file? Otherwise I will just add it manually.

[2016-06-09 12:24] kclaes commented on #100
Could you maybe do it manually?
It seems like a hassle for one new file with 2 lines of text.

I'm fine with the mention in the commit message ;) (thanks for those, btw)

[2016-06-10 04:11] lfoppiano commented on #100
Indeed.
Thanks again @kclaes. I think we can close this issue :-).

[2016-06-10 04:11] #100 closed

[2016-06-16 20:11] datablend commented on #80
Somewhat related to this Issue. Some older scientific PDF's contain articles that start halfway the first page (the references of another article are preceding it). Grobid does not cleanly handle these cases. Is this planned?

[2016-06-16 20:24] kermitt2 commented on #80
Hello! This is a bit different, and indeed not really covered at this stage by GROBID. The model segmentation is in charge of the overall segmentation of an article in header, body, footnotes, bibliographical sections, annexes, etc. It's probably the best place to tackle seriously this problem.
Currently the training data for the segmentation model do not cover these cases, so it may work but real

[2016-06-22 13:27] Aazhar opened #105 "DOI extracted wrongly from the references"
I'm getting a false DOI, GROBID is supposed to look for the DOI in the header(firs pages) of the article whereas with this example https://hal.archives-ouvertes.fr/hal-01245634v2/document, a bad DOI is extracted from references (end of the document).

[2016-06-22 13:46] kermitt2 commented on #105
Issue only full text processing… commit fe58f749f24b90c1f8f060294c02856404d8e5ba should fix the problem, but it requires a bit more test.

[2016-06-22 14:02] liar666 commented on #105
Hi,

Sure it is better to correct the code, but wouldn't such an error be corrected by using the Crossref service calls?

GM

[2016-06-22 14:09] kermitt2 commented on #105
Hello!
Well the call to CrossRef is currently costly, so it is better to prevent using it with an incorrect DOI. The problem here was simply that after an update of the "page" layout structure representation (made a couple of months ago), when GROBID was trying to find a DOI for the current article, it was going beyond the header and the two first pages, so even until the bibliographical section w

[2016-07-04 17:06] lfoppiano commented on #104
@axfelix Since I haven't got any news, feel free to reopen it, if you have more feedback and we can continue investigating this problem.

[2016-07-04 17:06] #104 closed

[2016-07-20 18:32] Singularity9971 opened #107 "Grobid extracts blank xml file from this pdf"
Tested on dataset of 30 publications, the following returns an xml file with just a TEI tag and nothing else. This pdf is quite similar to the other 29 which were extracted correctly.
[Heatseqaninteractive.pdf](https://github.com/kermitt2/grobid/files/374415/Heatseqaninteractive.pdf)

[2016-07-20 18:35] lfoppiano commented on #107
Hi, which information did you try to extract? Fulltext, Header?

[2016-07-20 18:40] Singularity9971 commented on #107
Fulltext, was wondering if this is an issue just on my machine or it just does not work on this pdf for some reason

[2016-07-20 18:51] kermitt2 commented on #107
Hi, thanks for reporting the issue !

There is an open demo here for testing -> http://cloud.science-miner.com/grobid
I just tried your PDF file on the demo and there is a complete XML TEI document as result with header, body and so on. So it might come from your environment.

Do you have any error message in the log? Are you using the batch or the service? If it is the batch, how much memory did

[2016-07-20 18:59] Singularity9971 commented on #107
Hi, thanks for the immediate response.

Yeah, I tried it too and and got the correct result, but fails on my localhost.
I have attached a screenshot. This error only pops up on this specific pdf for some reason. Should I just delete all the
<img width="1280" alt="screen shot 2016-07-20 at 11 57 15 am" src="https://cloud.githubusercontent.com/assets/14922145/16999145/6a725f26-4e71-11e6-82a1-4be9cf8

[2016-07-20 21:17] Singularity9971 commented on #107
So the folder is actually empty and deleting it prevents grobid from working so I deleted and recreated the folder again but same result.

[2016-07-20 21:26] lfoppiano commented on #107
So we find the problem and we are working to fixing it.
In the meantime, I would recommend you to either download the [latest stable version](http://grobid.readthedocs.io/en/latest/Install-Grobid/#getting-grobid) of GROBID or to use the cloud service directly.

[2016-07-20 21:30] Singularity9971 commented on #107
I am using latest stable version but will switch to cloud service for now, thanks

[2016-07-21 06:47] lfoppiano commented on #107
@Singularity9971 are you sure about that? The stable version is 0.4.0 and you have to download the zip file from the link I've posted above.
I'm pretty sure it doesn't have this bug. For precaution I've tested and, indeed, it works fine.

[2016-07-21 06:49] #102 closed

[2016-07-21 15:13] #107 closed

[2016-07-28 13:24] Aazhar opened #109 "publication date not correctly extracted"
Grobid alter the publication date found from the publication, maybe it makes bad interpretations.
I've found the problem with this document https://hal.archives-ouvertes.fr/hal-00135377/document

which give me back
`<publicationStmt>
<date type="published" when="20077-03-07">7 Mar 2007 7th March 2007</date
</publicationStmt>`

[2016-08-03 09:44] ArchanaHole opened #110 "Affiliation markers annotation"
Can the system classify various affiliations of a single author in author group by representing it with any identifier?

[2016-08-03 09:57] kermitt2 commented on #110
Hello! Could you give us an example to clarify your request? Thanks!

[2016-08-03 10:18] ArchanaHole commented on #110
In the example given below, the first name and surname of the author  has been identified with attributes 'forename', 'surname', respectively. However, the affiliation given as number 1 along with author name has no attribute when the information is extracted from PDF to TEI format.

Example:
Adam Smith<sup>1</sup>

<author>
<persName>
<forename type="first">Adam</forename>
<surname>Smith</surname

[2016-08-03 12:02] kermitt2 commented on #110
Thanks! If I understand correctly you would like that the extracted affiliation marker ```1``` appears in the element ```<affiliation>``` as attribute? Currently it is not outputted in the resulting TEI for different reasons:
- in the TEI it is useless for relating the author to the affiliation, because the structure explicitely indicates that the affiliation is attached to the author (sibling nod

[2016-08-04 11:29] ArchanaHole commented on #110
Thanks for your speedy response.
We are good to go with the solution provided by you i.e., @xml:id with an identifier. However, we would suggest you to add an attribute for corresponding author too. For example, in the attached sample second author signifies the corresponding author who is represented with an asterisk. After extraction, please extract the information of corresponding author simila

[2016-08-04 11:40] kermitt2 commented on #110
I am not sure to understand your reply, the corresponding author - when spotted by the GROBID - is already identified with a @role attribute, e.g.

[code]

Are you talking about this existing feature?

[2016-08-04 11:47] ArchanaHole commented on #110
Yes, I am taking about the same feature.
However, I am not getting "author role" attribute in final TEL output.

[2016-08-08 22:34] Singularity9971 opened #112 "Internal Server Error"
Hey so I'm running grobid on my Mac as a rest service and on a batch of about 400 documents, a couple of them have this error (file attached).
[error.txt](https://github.com/kermitt2/grobid/files/407876/error.txt)

When I do those documents separately from my browser they turn out fine. I have a python script which uses curl to call the service on a bunch of documents. Using the latest stable vers

[2016-08-09 04:06] ArchanaHole commented on #110
We would be glad if you could please tell us whether the reported issue "@xml:id with an identifier" has been taken into consideration or not?
Also, for corresponding author I am not getting the output with author role attribute.

[2016-08-09 11:16] kermitt2 commented on #110
It has been taken into consideration ;)
There are a couple of tricky cases where the same affiliation (or a partial one) is repeated on the same PDF for several authors, so there is a small sub-issue related to affiliation matching which is not straightforward. Let's try to implement it this month.

Regarding the other problem related to the corresponding author, this is specific to your example a

[2016-08-09 11:21] kermitt2 commented on #112
Hello and thanks for the report !
Let's try to reproduce the error on our side...
If doable - could you give us the log related to the error? I would be interested in the information related to the thread pool (number of engines in pool active/max).
The python loop where the curl call appears would be helpful too, if you could also share this part I think it will be helpful.

[2016-08-10 18:22] Singularity9971 commented on #112
Hi I don't think I can get the log file, but here is the python code I used. I used multithreading in the script to speed up the process but bringing down the number of threads didn't change the errors.

subprocess.call(["curl",
                     "-v",
                     "-include",
                     "--form",
                     "input=@" + inFilename,
                     "localhost:" +

[2016-08-10 18:43] kermitt2 commented on #112
Thanks, the log are normally in a file called ```grobid.log```, by default at the place where you launch the server.

What is the number of threads available on your machine and the amount of memory used by your java application server (for instance if jetty is used by maven with the command line: ```echo $MAVEN_OPTS```)?

For the python stuff, I think I would need the piece of code where the mult

[2016-08-10 18:59] Singularity9971 commented on #112
Here is a portion of the log file with the exception.
[grobid.txt](https://github.com/kermitt2/grobid/files/411874/grobid.txt)

My machine has 4 cores, so the maximum I did was 8 threads since the cores support hyper threading.

Could you help me on how to get the memory used by the java application server? The command did not output anything.

Here is the python code:
[grobidcode.txt](https://git

[2016-08-10 19:47] Singularity9971 commented on #112
I set my MAVEN_OPTS to -Xms1024m -Xmx4096m -XX:PermSize=1024m but the error is still there with the same documents.

[2016-08-10 19:51] kermitt2 commented on #112
Thanks !
And another question - if you reduce the number of threads used to 1 in the python script, do you still have this error?

[2016-08-10 20:32] Singularity9971 commented on #112
Yes reducing it to 1 fixes the error but obviously the execution time increases more than twice but for now this works for me, thanks!

[2016-08-10 20:45] kermitt2 commented on #112
Well it's not really a solution ;) The multithreading should work all the time. But it helps to understand.

Apparently the problem is when all the threads are used and a pdf2xml timeout occurs - or maybe the pdf2xml timeout is due to the absence of an additional available thread (strange). I try to reproduce this situation on a mac to see if I get also an error.

If you set the number of threads

[2016-08-10 20:56] Singularity9971 commented on #112
Haha I know, but since my dataset is small the increased time cost is something I can totally manage.

Interestingly, using 2 threads gives an error only on one document.

[2016-08-11 08:35] mohdaliiqbal opened #113 "docker image just crashes when i try Restfull Services option"
Following are simple log output of the commands.. Once the server started i used the Restfull services screen and submitted a PDF for "Process fulltext document" option

[code]
----
i tried again

[code]
---
At this point the docker container crashed again ... and on UI it said

"Error encountered while requesting the server."

[2016-08-11 08:36] mohdaliiqbal commented on #113
Is there a way to increase Jetty memory?

[2016-08-11 08:59] lfoppiano commented on #113
Thanks for reporting this.

I'm going to have a look at it, in the meantime I need a couple of informations:
- details of your virtual machine? Using the command:

- what's the dimension of the PDF? Could you process it using the [online service](http://grobid.science-miner.com)?

[2016-08-11 13:17] mohdaliiqbal commented on #113
{
    "ConfigVersion": 3,
    "Driver": {
        "IPAddress": "192.168.99.100",
        "MachineName": "default",
        "SSHUser": "docker",
        "SSHPort": 62667,
        "SSHKeyPath": "/Users/xxxx/.docker/machine/machines/default/id_rsa",
        "StorePath": "/Users/xxx/.docker/machine",
        "SwarmMaster": false,
        "SwarmHost": "tcp://0.0.0.0:3376",
        "SwarmDiscovery": "",

[2016-08-11 13:18] mohdaliiqbal commented on #113
I think behavior is same for all pdfs that i tried. but sample is here attached [3.pdf](https://github.com/kermitt2/grobid/files/413268/3.pdf)

[2016-08-11 13:20] lfoppiano commented on #113
Hi,
   I see that you have only 1024 Mb of memory in your machine. You should increase it. I have 2048 and it's working, however the best should be to have 4Gb. Could you try to change that and let me know whether it's at least working for single requests?

In the meantime, I've also asked [here](https://github.com/appropriate/docker-jetty/issues/37#issuecomment-239110388) some information, but mi

[2016-08-11 13:26] mohdaliiqbal commented on #113
I just did that and it worked. Sorry for raising this stupid issue.

[2016-08-11 13:29] lfoppiano commented on #113
No worries! In fact the issue wasn't stupid, since having GROBID running with only 2 Gb might not enough. ;-)

I will leave this issue open until I've fixed the Docker image having GROBID running with 4Gb.
I'm going to update the documentation.

Thanks! 👍

[2016-08-11 13:35] mohdaliiqbal commented on #113
Thank you. By the way JAXB 2.0 works nicely with the generated bindings. I followed the instructions in TEI-encoding-of-results.md. With these bindings i was able to parse these papers and push interesting meta data in elasticsearch for analysis.

[2016-08-11 16:31] kermitt2 commented on #113
Thanks a lot Muhammad for this feedback about the bindings with JAXB 2.0! Very interesting, I will update the documentation ```TEI-encoding-of-results.md```.

Regarding the memory requirement for GROBID, it is discussed a bit on the main readme.md page ->  extracting only metadata header from a PDF requires less than 2 GB memory in a multithreading usage, extracting citations uses around 3GB and e

[2016-08-11 17:28] lfoppiano commented on #113
Dockerfile and documentation have been updated. ;-)

[2016-08-11 17:28] #113 closed

[2016-08-11 18:39] #105 closed

[2016-08-11 21:44] lfoppiano commented on #98
HI @axfelix, I've implemented a Transformer that uses your XSLT to tranform TEI to JATS.
You can see some preliminary result:

<img width="952" alt="screen shot 2016-08-11 at 23 00 10" src="https://cloud.githubusercontent.com/assets/15426/17605917/092b3e28-601d-11e6-9938-66dc3c715635.png">

At the moment, the change is transparent because I've seen several small mistakes that would need to be fixe

[2016-08-16 08:45] ArchanaHole commented on #110
Sorry for late response.
Please find attachment for the requested sample.
Can you please update me, when can I test requirement "xml: affiliation id identifier" in TEI file.

Thanks
[Grobid.pdf](https://github.com/kermitt2/grobid/files/419840/Grobid.pdf)

[2016-08-16 15:45] kermitt2 commented on #110
Thanks! In this example, I don't see how we could really consider the first author as the corresponding author. The ```*``` marker makes the association with the email marked with a ```*```, but the fact that this is the corresponding author is a bit speculative even for a human. Usually for indicating that one author is the corresponding author, something explicit would be required somewhere like

[2016-08-22 07:45] ArchanaHole commented on #110
Thanks for your reply.
I have attached one PDF wherein I have noticed below issues.
1.  I have added 'corresponding author'  text just to distinguish corresponding author from rest of the co authors. Still Corresponding role is missing in TEL file. Rather author name got repeated twice.
2.  Mail ID for all author got removed.
3. Tel number got removed
Please check and keep posting me your analysis

[2016-08-23 09:45] ArchanaHole commented on #110
I would request your goodself to please share me your availability to discuss the issues via go to meeting. It would be helpful to get an overview of the project. I would be glad to know the progress of the development for the reported feedback. If you have any other alternative means of communication, please do let me know.

[2016-09-08 12:56] AlainMonteil opened #115 "mauvaise extraction du ï"
depuis un pdf "Loïg" est transformé en  :
<forename type="first">Lo¨ıglo¨ıg</forename>
et pas affché
Alain

[2016-09-08 14:59] AlainMonteil opened #116 "Identification of code excerpts or software development/project name"
Dans le cadre de la construction des liens depuis les publications vers software heritage il faudrait voir ce qui peut etre fait pour repérer dans le full texte les mentions de codes informatiques ou de développement.
Par exemple les liens vers des forges ou des annexes de type codes etc... Un  peu comme Grobid Mesure, un Grobid Code

[2016-09-08 15:06] AlainMonteil opened #117 "Repérage des affiliation placées en fin de document"
Certains documents mentionnent les affiliations des auteur à la fin, c'est en particulier le cas des articles de BMC.
voici un exemple : http://biologydirect.biomedcentral.com/track/pdf/10.1186/s13062-016-0143-4?site=biologydirect.biomedcentral.com
en fin de pdf un paragraphe Author details
cela aiderai le dépôt dans HAL.

[2016-09-10 22:50] kermitt2 commented on #110
The addition of an attribute to identify the same affiliation distributed to different authors has been introduced in commit 2f38805c919ac39d17f0bd2223952d04498f6a0d.

The added attribute is @key to element ```<affiliation>```, which is valid in TEI (@xml:id was not possible because it is for identifying an XML node in a unique manner).

Regarding the problem of identifying the corresponding autho

[2016-09-10 22:55] kermitt2 opened #118 "Identification of the corrresponding author"
The corresponding author is identified in the TEI result by the attribute @role on the element ```<author>```, e.g.

[code]

However, the fact that an author is the corresponding author is currently very frequently overlooked by GROBID header/fulltext models, which could be improved.

[2016-09-10 23:00] kermitt2 commented on #115
Thanks Alain, if I remember well, that's a particular case where the diacritics is not following the character to be modified but before (in the PDF tree). I'll try to fix it quickly.

[2016-09-10 23:11] kermitt2 commented on #117
Absolutely... I think it is mainly a matter of improving the training data for the segmentation model (and possibly too the header model), so that the affiliation block at the end of the document is correctly attached to the header segments.

[2016-09-13 09:20] ArchanaHole opened #119 "Identification of Suffix in author name"
Issue:
Current tool is not identifying suffix given in author name separately.
I have attached file for your reference wherein suffix got captured as surname and first name in TEI output. Also, casing for suffix has been changed in final TEI output.
(e.g. 'Jr', 'Sr', 'I', 'II', 'III')

Requirement:
Tool should generate separate suffix tag in author name.
Tool should retain casing for suffix as giv

[2016-09-13 09:25] nooralahzadeh opened #120 "Offset of tags in output"
Is there any way to catch the start and end offset of the tags as an attribute in the output?

[2016-09-13 11:07] ArchanaHole opened #121 "Insertion of line numbers in different TEI tags"
Issue:
Line numbers got inserted in following TEI tags while doing extraction of attached PDF.

Line no 11 in country tag
Line no 12 in addrLine tag
Line no 13 in country tag
Line no 10 in settlement    tag
Line no 11 in of country tag
Line no 14 in address line tag
Line no 15 in address line tag
Line no 7 in department tag

[10708_2015_9672_Article.pdf](https://github.com/kermitt2/grobid/files/46

[2016-09-13 11:33] ArchanaHole commented on #110
Thanks a lot for fixing this issue.

For the attached PDF, wrong affiliation ID got assigned to the author 'Atef Atyaoui'

[2016-09-13 11:40] ArchanaHole opened #122 "Mail ID is not extracted in TEI output"
For the attached PDF, mail ID is not extracted in TEI output.

[Uploading 10708_2015_9672_Article.pdf…]()

[2016-09-13 11:45] ArchanaHole opened #123 "Extraction of Telephone number in TEI output"
Tool should extract Telephone number in separate TEI tag.

[Uploading 10708_2015_9672_Article.pdf…]()

[2016-09-13 11:58] ArchanaHole opened #124 "Wrong extraction of author name"
Author names 'Abdulla M.  Al Rawabdeh' and 'Jérôme  Cachot' have been wrongly extracted in TEI output file by the tool.

[Uploading 10708_2015_9672_Article.pdf…]()

[2016-09-13 14:08] nooralahzadeh commented on #69
I am wondering if you provide this information for the TEI elements like author, title and ,,,?

[2016-09-13 14:17] lfoppiano commented on #120
Hi @nooralahzadeh,
     I'm sorry but don't really understand what you mean. With output you mean the XML-TEI output? the start and stop offset... related to what?

Could you please add some more details and, eventually, provide some examples?

Thanks

[2016-09-13 19:44] kermitt2 commented on #69
Not for the moment, but the area coordinates can be provided for any fields/structures of the document, including those where the text is normalized. Currently coordinates appear for bibliographical references and reference markers which are used in the PDF annotation demos.

We're really open to suggestion on how to specify which coordinates to get in the output, given that it would be very heavy

[2016-09-13 20:04] nooralahzadeh commented on #120
Hi @lfoppiano ;
Sorry it was my mistake, becuase I was parsing the grobid output in the wrong way. It is okay as far as you locate the inner element inside the outer element and it is easy to detect its offset.!
Thanks

[2016-09-13 20:49] lfoppiano commented on #120
OK, feel free to close the issue.

I'm still wondering one thing. Out of my curiosity, why would you need the offsets?

Having the data in XML format, it's already kind of 'prepared'. So if you parse it you could extract the information you need based on the xml structure, e.g. you need the authors and so on. For visualisation, for example if you want to show the text and highlight some part of it

[2016-09-13 23:11] #120 closed

[2016-09-14 06:28] ArchanaHole opened #125 "Author first name got deleted in TEI output"
Author first name 'Hyeouk' got deleted in TEI output.
Please see attached Input PDF.

[10597_2016_31_Article.pdf](https://github.com/kermitt2/grobid/files/471398/10597_2016_31_Article.pdf)

[2016-09-14 06:43] ArchanaHole opened #126 "Extraction of Degrees in TEI output"
Degree M.D. captured as author name in TEI output.

Tool should generate separate Degree tag in TEI output.

[10597_2016_2030_Article.pdf](https://github.com/kermitt2/grobid/files/471422/10597_2016_2030_Article.pdf)

[2016-09-19 04:50] boumenot opened #128 "Header Feature Vector has Static Feature Values"
I have noticed that the header feature vector has some column values with static values.

1. There's a feature for forename, and for name.  The forename value is always 0.
1. There's a feature for email address, which is always 0.  GROBID tokenizes the layout blocks, so there is no way for a email address to be matched.  For example, GROBID tokenizes a value of "bob@mailinator.com" to "bob@mailina

[2016-09-19 05:29] boumenot opened #129 "PDF Archive used in the Training Corpus"
Is it possible to download an archive of the PDFs used to train GROBID?

[2016-09-19 23:02] kermitt2 commented on #129
Hello Christopher,
Sure the full set of PDFs is available online via Amazon S3 service. Please send me an email (<patrice.lopez@science-miner.com>) for the information for downloading them.

[2016-09-19 23:25] kermitt2 commented on #128
Dear Christopher. It would be really great for the GROBID project to have such contributions. Thanks a lot your interest in the project and we'll do our best to help you, to integrate your PR and to add support for Windows and .NET.

About the raised issue: there are indeed static feature values always at 0. Such static values have actually no impact on the training and the model. When experimenti

[2016-09-19 23:54] boumenot commented on #128
Sounds good!

I remembered one more feature after I logged this issue...  GROBID tracks BLOCK and LINE transitions based on the pdftoxml's layout extraction for headers, but these two values are synchronized, i.e. BLOCKSTART always matches LINESTART, and IN, and END.  pdftoxml makes a distinction, but I am not sure how useful that distinction is.

I like the idea of a template file.  I spent quite

[2016-09-20 00:18] kermitt2 commented on #128
Normally BLOCKSTART does not always match LINESTART. We have often several lines in one block (e.g. for the abstract): for each new line we will have a LINESTART for the first token of the line, but only a BLOCKSTART at the beginning of the block.

Looking at a training file for header(```0070234.header```), we have (emphasis added **):

[code]

[2016-09-20 04:46] boumenot commented on #128
This matches my expectations.  My experience is based on an older version of GROBID, and I know I have bugs in my code.  I need to go figure out where they are.

For completeness here is what I am observing.

Given the following XML snippet.  (I removed all of the XML attributes to make it clearer.)

[code]

I would expect one BLOCKSTART, and two LINESTART events.  This is what I am observing.

[c

[2016-09-20 08:09] lfoppiano commented on #128
@boumenot welcome!!! It's great to have a new contributor :)

[2016-09-21 03:29] #129 closed

[2016-09-23 09:56] lfoppiano commented on #74
Hi @KevinVdV,
    today we've integrated the ported version of Wapity for Windows 64bit, thanks to the great job of @boumenot.

If you are still interested to try, you can just download the development version from master.
Would be great to have more intensive testing on different Windows versions running natively.

Cheers
Luca

[2016-09-23 10:02] lfoppiano commented on #14
@Helfo we've integrated the ported version of Wapity for Windows 64bit (thanks to @boumenot). If you are still interested to try, you can just download the development version from master.
Would be great to have more intensive testing on different Windows versions running natively.

I'm going to close this issue, since it's obsolete (CRFPP is not used anymore in GROBID).
For any issue related to W

[2016-09-23 10:02] #14 closed

[2016-09-23 10:02] lfoppiano commented on #42
See #74

[2016-09-23 10:02] #42 closed

[2016-09-23 10:04] lfoppiano commented on #92
Hi @SomnathKadam, we've integrated the ported version of Wapity for Windows 64bit, thanks to the great job of @boumenot.

I'm going to close this issue. For any problem related to Wapiti on Windows, please refer to #74 .

Cheers
Luca

[2016-09-23 10:04] #92 closed

[2016-09-28 11:35] nooralahzadeh opened #132 "[NO_BLOCKS] PDF parsing resulted in empty content"
I am parsing a document with engine.fullTextToTEI and I have the following exception?
[NO_BLOCKS] PDF parsing resulted in empty content
any solution!

[2016-09-29 08:16] lfoppiano opened #133 "Make TaggingLabel extendible"
The [TaggingLabel](https://github.com/kermitt2/grobid/blob/master/grobid-core/src/main/java/org/grobid/core/engines/TaggingLabel.java) class hold all enumeration of labels used to tag the tokens when applying CRF.
At the moment the `enum` class cannot be extended in java.

Would be nice to have a way to make external modules being able to define their own labels without having to modify the Taggin

[2016-09-29 11:52] nooralahzadeh commented on #132
yes, you are right it was scanned type

[2016-09-29 11:52] #132 closed

[2016-09-29 14:13] lfoppiano opened #134 "de-hypenization method needs some examples and restyling"
Trying to move the dehypenisation from the LayoutTokensUtil but I've found issue to understand the behaviour of such method. Looking at the current online version, this function is not always correct:  "

The result is

I would need to have more examples if possible :)

[2016-10-01 06:06] boumenot opened #135 "Duplicate ID in Header Corpus"
I am trying to incorporate RNNSharp, and I started with Grobid's training code.  I noticed that some of the corpus tei documents have the same xml:id.  I _think_ this incorrect, and causes ambiguity.

e.g.

[1105.header.tei.xml](https://github.com/kermitt2/grobid/blob/master/grobid-trainer/resources/dataset/header/corpus/tei/1105.header.tei.xml) and [header1036.tei](https://github.com/kermitt2/gro

[2016-10-01 16:58] kermitt2 commented on #135
Hello Christopher,

You're right, this is ambiguous and the trainer might fail to align *.header.tei.xml and .header files for this training example.

I am working now again on the header model to update the format, the features and the training data (the header model was the first one to be developed, and there are quite a lot of things to fix - so I include this problem, many thanks.

[2016-10-01 17:08] kermitt2 opened #136 "Update of the header model"
The header model requires a big refresh to be consistent with all the evolutions of GROBID during the three last years.
- [x] modify pdf2xml for having blocks in reading order at least for the header segment, see fork https://github.com/kermitt2/pdf2xml
- [x] use only the Segmentation model for getting the header segment for both training data and files to be processed
- [x] modify the training fo

[2016-10-01 17:09] kermitt2 commented on #136
This is work in progress with branch ```modified-pdf2xml```...

[2016-10-01 17:18] kermitt2 commented on #121
This one is tricky because the line numbers are inserted like that in the PDF content order. There are similar cases with some PMC author manuscript PDF. This cannot be covered by adding training data because the inserted elements can be anywhere.

I think it is possible to identified these lines numbers (or similar manuscript/review added elements) either:
1) at the level of pdf2xml by considerin

[2016-10-01 19:35] kermitt2 commented on #128
About your last example Christopher, indeed we should have a second LINESTART corresponding to the second <TEXT> element. In the file ```PDF2XMLSaxParser.java```, we add a LayoutToken with a new line as text content when we match the </TEXT> event. I will look and try to find why the LINESTART feature is not introduced following this new line token. Thank for pointing to this issue!

[2016-10-04 08:29] lfoppiano commented on #74
I close this issue, should you find any problems, feel free to reopen it ;)

[2016-10-04 08:29] #74 closed

[2016-10-04 08:31] lfoppiano commented on #4
@holoxy should you have the same problem, feel free to reopen the issue again ;)

[2016-10-04 08:31] #4 closed

[2016-10-04 08:33] lfoppiano opened #138 "Application version is hardcoded in the Dockerfile"
The version number (e.g. 1.3.4-SNAPSHOT) in the Dockerfile is hardcoded, this is making the release error prone and complex.

Ideally we should tokenize the Dockerfile with the correct version when building with maven (this would also ensure we have built before building the docker image).

[2016-10-04 08:44] kaplun opened #139 "Gold training data web editor"
Currently, for prospect training data producers there is an entrance barrier due to the need of manually editing the TEI XML produced by Grobid in order to introduce corrections that can be later feed back into the training.

It would be great to have a web interface similar to [Google Structured Data Markup Helper](https://www.google.com/webmasters/markup-helper/) that would greatly reduce the ef

[2016-10-04 16:00] lfoppiano opened #140 "Documentation of feature that allows completion of manually provided metadata"
Documentation of feature that allows completion of manually provided metadata

[2016-10-05 15:01] lfoppiano opened #141 "Feedback form to provide PDFs for additional training"
The idea is to add a button that allow users to send pdfs for which the extraction wasn't satisfying.

The button will happear only in the following cases:
- after the pdf has been submitted
- there is no exception NO_BLOCK found (we don't want people to upload 4Gb pdf of porn images :D)

Copyright: since there is risk to get copyrighted pdf uploaded, the user will be asked to confirm once more, k

[2016-10-05 22:21] lfoppiano commented on #134
Using this document document: http://www.isoc.org/isoc/conferences/ndss/03/proceedings/papers/13.pdf

Before:
<img width="704" alt="screen shot 2016-10-06 at 00 17 53" src="https://cloud.githubusercontent.com/assets/15426/19133795/8475083a-8b5a-11e6-8726-d8761b0137da.png">

After:
<img width="660" alt="screen shot 2016-10-06 at 00 18 46" src="https://cloud.githubusercontent.com/assets/15426/191337

[2016-10-06 14:34] lfoppiano commented on #133
Add method called asEnum() that returns a TaggingLabels. This will avoid the annoyance of casting the TaggingLabel in TaggingLabels.

[code]

would became

[code]

[2016-10-11 15:46] lfoppiano commented on #139
Hi @kaplun, thanks for your email.
Having an interface to help correcting training data is, without doubt, a very _nice to have_ feature.
Although I think that with or without an interface, correcting training data is a boring and frustrating job anyway :)
On the other hand I have to say that with the generation of pre-labelled training data, GROBID saves already a lot of work. We have seen that a

[2016-10-11 19:52] kaplun commented on #139
Hi @lfoppiano. Thanks for the confirmation. I fully understand. I was indeed checking just in case, because, since you confirm nobody is already actively working on this, we might plan to contribute such an interface, in the future.

[2016-10-12 08:00] lfoppiano commented on #139
@kaplun cool stuff. :-)
How advanced are you on this? I'm asking because we had already gave some thoughs on the subject. We could exchange ideas and solutions.

[2016-10-12 08:06] kaplun commented on #139
Completely blank slate t, :) Just considering such functionality as one future project. We haven't even yet allocated resources to it :)

What I can tell you is that if we were to implement it, we would implement a generic indipendent component, using Angular 2+Bootstrap for front end and Python-Flask for the backend.

cc: @jmartinm

[2016-10-13 09:46] thomasopsomer opened #142 "Invalid Format Error in OSX"
Problem running grobid on osx (actually macOS).

I used the installation process described in the doc :

[code]

And then the tests don't pass, because _"invalid format error"_ when loading the wapiti models. If skip the test I get the same error when I try grobid on a PDF.

[2016-10-13 10:11] thomasopsomer opened #143 "Problem killing pdf2xml process when timeout in a Spark job"
I use Grobid in a Spark job in order to parse a bunch of Arxiv PDF.

The spark job is quite simple. It creates a grobid **engine** for each "partition" and then process PDF files (of each partitions) in the same way it is done in the example of [using the grobid java api](https://grobid.readthedocs.io/en/latest/Grobid-java-library/)

Actually it used to work without any issues... but now my Spark

[2016-10-13 10:13] lfoppiano commented on #142
Thanks @thomasopsomer for reporting this issue.

I've tried to reproduce your problem without success.

I'm running Mac OSX El Capitan. I've downloaded the zip and run the build without skipping the tests, everything was fine. Also running the service I didn't get your issues.

Could you provide me a more detailed error log and some more information about your system?

Thanks
Luca

[2016-10-13 10:32] thomasopsomer commented on #142
Hello Luca,

So I'm running the new osx version: macOS Sierra v10.12. Like you it was working on El Capitan :)
I downloaded the zip and then when building with tests, here is a sample of logs:

[code]

[2016-10-13 10:45] lfoppiano commented on #142
Wow, what Apple didn't say about Sierra? :-o

Can we check that the md5sum, checksum and dimension of the models has not been changed? I doubt so.

There are mine:

Md5:
[code]

Checksum:
[code]

dimension:
[code]

[2016-10-13 10:52] thomasopsomer commented on #142
mine :)

MD5:
[code]

Checksum
[code]

dimension
[code]

Everything seems identical.

[2016-10-13 11:12] lfoppiano commented on #142
I'm baffled!

Let's see the termination lines. If you run this command it should compare the file with LF termination line with the original:
[code]

If this is negative... I'm out of ideas for the moment :(

[2016-10-13 11:30] thomasopsomer commented on #142
the cmd doesn't return anything, I guess it's positive ?

[2016-10-13 11:59] lfoppiano commented on #142
it depends :) it means there is no difference... so the problem is somewhere else 🗡

...thinking...

[2016-10-13 12:01] kermitt2 commented on #142
Hello Thomas,

Well negative to find the problem ;)
Just another idea, what is your locale settings?

Normally, the issue related to locale have been solved since ~2 years with our Wapiti fork, but who knows...

[2016-10-13 12:17] thomasopsomer commented on #142
Hello Patrice,

locale gives:
`
LANG="fr_FR.UTF-8"
LC_COLLATE="fr_FR.UTF-8"
LC_CTYPE="fr_FR.UTF-8"
LC_MESSAGES="fr_FR.UTF-8"
LC_MONETARY="fr_FR.UTF-8"
LC_NUMERIC="fr_FR.UTF-8"
LC_TIME="fr_FR.UTF-8"
`

Anyway the good turn-around is to use Docker :)

[2016-10-13 12:21] kermitt2 commented on #142
Ah sure, Docker is the hammer solution !

What happens if you change your LOCALE in your terminal before launching GROBID? Simply try:

[2016-10-13 12:28] thomasopsomer commented on #142
wow magic, the test passed and build completed with success :)

[2016-10-13 12:43] kermitt2 commented on #142
It means to check why the change of LOCALE integrated in our Wapiti fork (just before reading the CRF model, in order to be sure to have portable models) is not working anymore on Mac OS X 10.12 :(

The other related problem is that the architecture info changed, because Apple renamed "OS X" into "macOS", this could impact the resolution of the path to the native stuff based on the architecture.

[2016-10-14 18:52] MedKhem commented on #133
`Engine.getCntManager().i((TaggingLabels) clusterLabel);`

This line in Grobid doesn't present any problem, but in grobid-dictionaries it triggers:

`java.lang.ClassCastException: org.grobid.core.engines.TaggingLabels$1 cannot be cast to org.grobid.core.engines.TaggingLabels
`

any explanation for that?

[2016-10-14 22:53] lfoppiano commented on #133
Would be nice to see the whole code.

In theory if it works in GROBID, should work everywhere else.

Please commit and push so that I can reproduce the problem. ;-)

[2016-10-15 11:23] MedKhem commented on #133
Done :)

[2016-10-15 12:52] lfoppiano commented on #133
I need to revisit this implementation. I might need to remove the Enum :/

At the moment the solution at [previous comment ](https://github.com/kermitt2/grobid/issues/133#issuecomment-251981482) is not feasible.

[2016-10-28 09:03] MedKhem opened #146 "Line status feature: "Line end" not captured for many instances in an OCRized dictionary sample"
The file "[LettreP-117082016.pdf](https://github.com/kermitt2/grobid/files/557933/LettreP-117082016.pdf)" contains a OCRized scan from a dictionary page. The method **getBodyTextFeatured()** in **FullTextParser** captures just 6 "LINEEND" instances out of ~60. Here is the [LettreP_feature_matrix.txt](https://github.com/kermitt2/grobid/files/557963/LettreP_feature_matrix.txt)

[2016-11-07 14:31] michamos opened #147 "RFC: generating training data automatically through BibTeX"
## The back-story

At INSPIRE, we recently looked at the latest version of grobid 0.4.1 for our needs of extracting references from PDF files. While some aspects are really impressive (reference segmentation, title and author recognition), it falls short in several other aspects that are crucial for us, as summarized by @kaplun in inspirehep/inspire-next#1704.

So we would need to train the citati

[2016-11-28 14:41] lfoppiano commented on #133
I've made the changes in the branch taggingLabel-issue133:
 - I've removed the enums for TaggingLabel. It has been substituted by a class called TaggingLabels that contains the labels and the cache where the labels are registered.
- The label itself is implemented by an interface `TaggingLabel` and a class `TaggingLabelImpl` for the implementation.

The TaggingLabels class can be viewed [here](htt

[2016-11-29 14:23] lfoppiano commented on #133
This is the result coming out from the batch processing:

[code]

[2016-11-30 10:31] lfoppiano commented on #147
Dear @michamos
     looking at the examples you've provided me on [inspirehep/inspire-next#1704](https://github.com/michamos) looks like that more training data are required for the citation instead of the reference Segmentation Model.

The _ReferenceSegmentationModel_ recognise reference within the whole document.
See three differen examples (arXiv, report note, DOI):
[code]
The Dois, URLs are al

[2016-11-30 15:39] lfoppiano commented on #140
Cannot remember what I meant... 💯

[2016-11-30 15:39] #140 closed

[2016-11-30 15:48] lfoppiano opened #148 "Pdf annotation doesn't notify in case of errors"
When the PDF annotation fails, the page keep showing "Request server...". Seems a problem in the javascript.

To reproduce the problem:
1. select tab _PDF_ and then _Add layer to PDF_
2. select the following [PDF](https://www.nationalgallery.org.uk/upload/pdf/billinge_syson_spring2011.pdf)
3. the "Request server..." remains independently from the fact that the request had failed with error 500 (se

[2016-11-30 16:01] lfoppiano opened #149 "When PDFBox doesn't detects the number of pages the pdf annotation fails"
When annotatePDF is invoked, the original pdf is opened with PDFBox. There are certain cases where PDFBox doesn't extract correctly the content (I haven't figured out why).

However the call fails with 500 and the following error:
[code]
The DocumentContent of PDDocument is null, so in [CitationVisualizer](https://github.com/kermitt2/grobid/blob/master/grobid-core/src/main/java/org/grobid/core/vis

[2016-11-30 17:42] lfoppiano commented on #149
This issue happear also by submitting the empty form.

[2016-12-01 14:13] MedKhem commented on #133
I made the changes in grobid-dictionaries. No problems :)
Just a small modification that should be made to TaggingLabelImpl class: the constructor should be public.

Otherwise, nice and clean job :+1:

[2016-12-01 14:19] lfoppiano commented on #133
@MedKhem the constructor is made in a way that you have to have the class using the CustomTaggingLabels in the same package of TaggingLabelImpl, `org.grobid.core.engines`. The idea is that the TaggingLabelImpl should never be instantiate but in your CustomTaggingLabels class.

[2016-12-01 14:34] MedKhem commented on #133
Well, in my case I didn't try to instantiate TaggingLabelImpl but I had all my CustomTaggingLabels classes in a sub-package "Labels" (It's not mandatory, but it's just a choice to structure my classes). In my case, I couldn't call the constructor. I don't know if such a constraint (having all CustomTaggingLabels under org.grobid.core.engines) is necessary.

[2016-12-01 14:37] lfoppiano commented on #133
@MedKhem yes, the idea is to have the CustomTaggingLabels under org.grobid.core.engines ;-)

[2016-12-01 15:45] bhecht2 opened #150 "pdf2xml Fail on specific PDF file"
[grobid bad.pdf](https://github.com/kermitt2/grobid/files/625057/grobid.bad.pdf)
Hi,

The attached file causes pdf2xml process to crash the machine.
I see the process is stuck and memory usage starts rising untill getting to 100%.

Thanks

[2016-12-01 15:55] MedKhem opened #151 "SegmentationLabel enum needs to follow the extensibilty aspect applied for all grobid labels"
"should be either incorporated in the TaggingLabels or on a subclass of it"

[2016-12-01 19:12] kermitt2 commented on #150
Hello!

Thanks for reporting the issue.

On Ubuntu I have a timeout for this file, no crash (in principle the timeout should prevent any crash of the JVM). What is your architecture/environment?

I need to explore with pdf2xml why we have this problem with this file... I am working on a branch *modified-pdf2xml* where I try to address various issues related to pdf2xml (the modifications of pdf2xml

[2016-12-01 19:57] kermitt2 commented on #147
Hello @michamos

So as noted also by you and @lfoppiano, there's indeed almost no example of DOI/arXivID currently in the training data for the citation model (the model related to this information). It's rare to see DOI in bibliographical references, and the training data for citations do not come from arXiv articles in general.

I agree with @lfoppiano that the simplest solution would be to add

[2016-12-02 06:41] bhecht2 commented on #150
Hi

Thanks for the quick reply.

I'm running Cent OS.

What timeout are you mentioning, the  one in GROBID?
I tested this directly on pdf2xml running it as a command line. No timeout occurred.

Thanks

Sent from my iPhone

[2016-12-04 09:24] bhecht2 commented on #150
Hi again,

In the grobid.properties i see this configuration:
grobid.3rdparty.pdf2xml.memory.limit.mb=6096

Does this means the pdf2xml process might consume up to 6GB of memory for it to run?
If so, why does it need so much? Does it depend on the size of the file?
What is the minimum possible for it to run?

Thanks a lot

[2016-12-04 22:06] kermitt2 commented on #150
Yes I was referring to the GROBID's timeout:

[code]

The equivalent  command line is working indeed also for me, but it takes very long time:

[code]
And you're right, this property ```grobid.3rdparty.pdf2xml.memory.limit.mb``` is used to limit the maximum amount of memory used by the external pdf2xml process, in order to protect the JVM from OOM errors.

pdf2xml does usually not need so much mem

[2016-12-06 10:59] laurentromary opened #152 "Wrong order of teiHeader component in TEI output"
The current TEI output (as provided by http://cloud.science-miner.com/grobid/; TEI/Process Fulltext Document) inserts encodingDesc as first element of the teiHeader. It should be placed after fileDesc, which is a mandatory first component of the TEI header.

[2016-12-21 08:55] lfoppiano opened #153 "Encoding issues in data present in KB"
In the KB many item containing special character are not encoded correctly.

For example:
[code]

They seems correct in the input tei from HAL, it looks like the XML is read without using the proper encoding. To be checked.

[2016-12-22 18:52] lfoppiano commented on #153
Wrong project :-)

[2016-12-22 18:52] #153 closed

[2016-12-28 10:56] lfoppiano commented on #148
Seems there is a regression with commit 4a64a2e (see changes in grobid.js)

When the document is valid, there is still a 'request to server' information:
<img width="896" alt="screen shot 2016-12-28 at 11 51 09" src="https://cloud.githubusercontent.com/assets/15426/21520422/7cc5f078-ccf4-11e6-8091-442a87cafcc1.png">

When the document is invalid, nothing happear:
<img width="1343" alt="screen shot

[2016-12-28 11:09] kermitt2 commented on #148
ok it's only the add layer to pdf service right?

[2016-12-28 11:18] lfoppiano commented on #148
The other service seems working fine. The 'request to server' is behaving correctly. I don't know in case of error, as I don't have a pdf that fails for that one.

[2016-12-28 12:20] lfoppiano commented on #149
Seems correct now :-)

<img width="951" alt="screen shot 2016-12-28 at 13 19 32" src="https://cloud.githubusercontent.com/assets/15426/21521792/533b297e-cd00-11e6-954f-a85a80fd2394.png">

[2016-12-28 12:34] #133 closed

[2016-12-28 12:35] lfoppiano commented on #148
Seems correct now :-)

<img width="951" alt="screen shot 2016-12-28 at 13 19 32" src="https://cloud.githubusercontent.com/assets/15426/21521792/533b297e-cd00-11e6-954f-a85a80fd2394.png">

[2016-12-28 12:35] #148 closed

[2016-12-28 12:35] #134 closed

[2017-01-02 18:52] lfoppiano opened #154 "Date model improvements"
Some improvements to be added to the grobid-core date model:
- [ ] Add optional time information in the parsing phase (<hour>:<minute>:<second>)
- [ ] Check whether the normalisation phase could be replaced using https://github.com/HeidelTime/heideltime/issues

[2017-01-03 15:10] lfoppiano commented on #154
At the moment the current example is not correctly parsed:
- `19 January 19 83`

[2017-01-04 07:58] Katharsis opened #155 "How to get GROBID version with RESTfull service"
Hi guys,

Is there any way for getting GROBID version using REST API?

GET: http://<domain.com>/version/

On output I'd like to see text/plain or JSON with string "GROBID 0.4.1".
It will be very helpful for me.

[2017-01-04 12:48] lfoppiano commented on #155
Dear @Katharsis thanks for your email,
    indeed this feature is not present currently. We can add it. ;-)

If you have already an idea on how to tokenize the version with maven, feel free to propose it ;-)

Cheers
Luca

[2017-01-05 10:39] Katharsis commented on #155
@lfoppiano

I'm not a Java developer but take a look at here:

https://web.archive.org/web/20120121133235/http://www.christophkiehl.com/easy-way-to-display-your-apps-version-using-maven-and-manifest

Is that what you asking for?

[2017-01-05 11:05] lfoppiano commented on #155
@Katharsis Thanks. I'll have a look. ;-)

[2017-01-07 18:31] #155 closed

[2017-01-07 18:42] lfoppiano commented on #155
Thanks to @czuraj for the PR.
@Katharsis if you can test it would be great ;-)

[2017-01-19 20:06] AhaAhaz opened #159 "I got 404 Not Found when I test the RESTFul API with curl"
What should I do to fix this problem.
curl -v --form input=@./TestPDF.pdf attlaspj.ddns.net:8080/processHeaderDocument

* Hostname was NOT found in DNS cache
*   Trying 171.97.255.227...
* Connected to attlaspj.ddns.net (171.97.255.227) port 8080 (#0)

< HTTP/1.1 100 Continue
< HTTP/1.1 404 Not Found
< Date: Thu, 19 Jan 2017 19:54:19 GMT
* Server Apache/2.4.10 (Raspbian) is not blacklisted
< Serve

[2017-01-19 21:58] lfoppiano commented on #159
Hi @AhaAhaz, looking at attlaspj.ddns.net:8080, it seems there is some problem with the configuration of the server, as the javascript/css seems not able to load.

<img width="1035" alt="screen shot 2017-01-19 at 22 57 04" src="https://cloud.githubusercontent.com/assets/15426/22127088/bb3eb72e-de9a-11e6-94ee-4010ad113a65.png">

Cheers
Luca

[2017-01-20 10:35] AhaAhaz commented on #159
I already solve javascript/css problem on server and it still give
"Error encountered while requesting the server.
Not Found
The requested URL /processHeaderDocument was not found on this server." When I hit summit button.
And result on curl is the same as previous.

[2017-01-20 10:53] kermitt2 commented on #159
Hello!

The problem is very likely related to your server configuration. Check if the service is working locally on your server (localhost:8080 with a curl command on your server). Ensure that port 8080 is open on your server (it is generally blocked by default, e.g. ```sudo netstat -ntlp | grep :8080```), check possible redirections if you are running apache.

As an alternative you can start the

[2017-01-20 19:57] AhaAhaz commented on #159
@kermitt2 I test service on my local server (localhost:80) and modify the pom.xml file under grobid-service with port 80, it still give "Not Found"
![notfound1](https://cloud.githubusercontent.com/assets/22633015/22163412/4fc8e370-df85-11e6-9fe8-660f09ab7cfa.JPG)

[2017-01-23 16:56] lfoppiano commented on #159
@AhaAhaz I think there is something different with your interface. I see no text/file form to process the pdf for example.
Did you modify the javascript or this is the grobid plain version, cloned from github?

[2017-01-23 17:01] AhaAhaz commented on #159
@lfoppiano This is version clone from github.

[2017-01-23 17:05] lfoppiano commented on #159
Did you run it with mvn jetty:run-war? Why the address has /grobid-master/grobid-service? This is not in the default configuration. Can you eventually post here your `web.xml` and the jetty plugin configuration in `pom.xml`?

[2017-01-23 18:37] AhaAhaz commented on #159
This is web.xml under grobid-service/src/main/webapp/WEB-INF

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>grobid-service - a RESTful service for grobid</display-name>
    <context-param>
        <param-name>log4jConfigLocation</param-

[2017-01-23 21:43] lfoppiano commented on #159
except the port number, you did not modify anything else?

can you run maven with the option `-e` and shre the whole log?
From the small portioon I can see
`[ERROR] Failed to execute goal org.eclipse.jetty:jetty-maven-plugin:9.3.14.v20161028:run-war (default-cli) on project grobid-service: Failure: Permission denied -> [Help 1]`

looks there is some permission problem?

[2017-01-24 05:32] AhaAhaz commented on #159
I'm not modify anything.
[INFO] Error stacktraces are turned on.
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building grobid-service 0.4.2-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] >>> jetty-maven-plugin:9.3.14.v20161028:run-war (default-cli) > package @ gr

[2017-01-24 08:58] lfoppiano commented on #159
Ok, from this error is clear there is a problem of permissions (perhaps on your `grobid-home`,  but check on all your directories).

I don't know why your `grobid-home` is in `/var/www`, that's also usually owned by root...  I'd perhaps move that to another directory owned by a different user.

You can always place an apache reverse proxy in front of it.

[2017-01-24 16:04] AhaAhaz commented on #159
How to solve this error. I check at  `/var/www/html/grobid-home/lib/lin-32/libwapiti.so.` It have that file in that directory.

I need to make the index.html online on the raspberry pi web server with Apache that must be in the `var/www/html` path.

How to  reverse proxy can you give some suddestion. I'm a very new user to use webserver and apache.

[2017-01-24 16:43] lfoppiano commented on #159
Well, I cannot really help on this as it's mostly dependent on your configuration settings.

My advice is to first run it correctly in local, and then think about how to deploy it online. By the way, we just noticed that the native libraries might not be compiled for your architecture, so you might need to recompile them from scratch (e.g. libwapiti).

[2017-01-26 11:17] AhaAhaz commented on #159
Now I can run mvn -Dmaven.test.skip=true jetty:run-war with port 8080 and what should I do to run a test.

![2ndrun](https://cloud.githubusercontent.com/assets/22633015/22328575/9cd6bb6a-e3ef-11e6-8527-d2c777e8b93a.JPG)

[2017-01-26 13:02] lfoppiano commented on #159
Very well.

Now before running a test, you have to compile wapiti (https://github.com/kermitt2/Wapiti) for your arm architecture (raspberryPI). Then you should place the file `libwapiti.so` in the same directory `lin-32`, for the time being could work.

If you can manage to do so, we could integrate the arm support to Grobid!

[2017-01-26 13:10] lfoppiano commented on #159
@AhaAhaz, I'm not an expert of RasperryPI, from what I've understood from @kermitt2 you will have problems with memory and compatibility (not only wapiti needs to be ported to ARM, also pdf2xml for example will be more complex). How much memory do you have on that computer? Grobid requires at least 2Gb (depending on which modules you want to use).

Perhaps you should use it on a real computer. ;-)

[2017-01-27 15:38] AhaAhaz commented on #159
OK I will try to compile wapiti. Memory that I have is 16Gb.

[2017-02-08 11:00] AhaAhaz commented on #159
Now I change to run on Ubuntu and it's work. Thanks for the help and I have some question, I want to save result as xml file (processHeader.xml), which path that grobid build xml for the result?

[2017-02-08 11:40] lfoppiano commented on #159
Sorry, I didn't understand  your question.

If you are asking how to save the results, I think you should call GROBID through the API. [See documentation](http://grobid.readthedocs.io/en/latest/Grobid-service/#full-documentation).

[2017-02-08 11:48] kermitt2 commented on #159
Not sure about the question too, but if you want to output the result in an XML file from the web service, you can do:

The batch mode also output results in XML (TEI) files, see the documentation about how to specify the paths.

[2017-02-08 20:09] AhaAhaz commented on #159
I want to do something like
"$xml->save(processheader.xml)"
In code on the web service, can it work?

[2017-02-13 15:16] MedKhem opened #160 "Sub/superscript are displayed as plain text characters in the TEI output"
First re-flexion, identify piece of text as sub/superscript based on position, fonts, etc.

[2017-02-21 12:39] dwatsonbynes opened #161 "PDF2XML crash"
Hi,

I am using Grobid on a Windows 64 bit machine. When PDF2XML fails on certain files, the process crashes and generates an error window for each time it crashes. Is there any solution to prevent the window from appearing or PDF2XML failing for those files?

[2017-02-22 08:16] mjlassila opened #162 "Missing reference segmenter training files"
It seems that six  reference segmenter training files are missing:

`Raw file [grobid-install-dir]/grobid-home/../grobid-trainer/resources/dataset/reference-segmenter/corpus/raw/4.v90-043.training.referenceSegmenter does not exist. Please have a look!
Raw file [grobid-install-dir]/grobid-home/../grobid-trainer/resources/dataset/reference-segmenter/corpus/raw/6.v90-133.training.referenceSegmenter d

[2017-02-22 20:20] kermitt2 commented on #162
Hello,

Indeed, these files contain the features for training so they can be regenerated from the PDF files. I will have a look.

Actually the _reference-segmenter_ model is only segmenting the reference section into individual references. it's the _segmentation_ model which is segmenting a document into sections such as header, body, footnotes, reference sections, etc.

Models are used in cascade

[2017-03-07 14:53] paris0120 opened #163 "[PDF2XML_CONVERSION_FAILURE] PDF to XML conversion failed on pdf file"
Not sure about other system, but under windows pdftoxml's annotation option should be -annots instead of -annotation

[2017-03-07 16:42] #163 closed

[2017-03-24 17:58] mirceat opened #165 "BibTeX output in dockerized Grobid server?"
Is it possible to create BibTeX output for article title, authors, venue, etc. in dockerized Grobid server? I could only find an example using Java API: https://github.com/kermitt2/grobid-example

[2017-03-31 11:59] yusuf-nathani opened #166 "[BAD_INPUT_DATA] PDF to XML conversion failed with error code: 99"
Hi, When using grobid with windows 8.1, TEI, for any pdf file i get following error.
[code]
Following are from log

[code]

Here command have constructed {{-annotation}} as an argument, but if look at log trace {{-annots}} should be argument name. If i manually change command with {{-annots}} and try to run from windows command prompt it does able to convert pdf2xml.

I have checked code here and

[2017-03-31 13:12] lfoppiano commented on #166
Dear @yusuf-nathani,
    thanks for your report. Indeed it seems to be a difference between the version used and your version. We need to look into it to understand whether it's a problem between your version or windows version in general.

For the moment if you need to process pdf on your local windows machine, you can keep using the workaround you've successfully tested changing the parameter di

[2017-03-31 13:37] kermitt2 commented on #166
Thanks ! yes, pdf2xml needs to be updated for win64.

@yusuf-nathani if I remember well, you should be able to use the latest stable release (grobid-0.4.1) without this problem.

[2017-03-31 17:01] thomasopsomer opened #167 "[Feature idea] Extract external links (github, dataset, ...)"
Hey,

It could be nice to extract all external links in the PDF (in the text, or footnotes), for instance links to Github repositories or to online dataset...
Just an idea :)

[2017-03-31 17:13] kermitt2 commented on #167
Hi Thomas!

They are already extracted normally. In the latest version of GROBID, all the web external (and GOTO internal link in the document) annotation links are extracted in PDFAnnotation objects.
However not yet outputted in the TEI yet - it will come!

[2017-03-31 17:36] thomasopsomer commented on #167
Ah great ! I looked at the TEI but not the API before asking !

[2017-04-01 08:30] yusuf-nathani commented on #166
@kermitt2 - Yes, stable grobid-0.4.1 working without any problem. Thanks.

[2017-04-05 13:28] thomasopsomer commented on #167
"In the latest version of GROBID" do you mean the stable 0.4.1 or the master branch of the repo ?

To use it directly with the library, given a `Document` object I can retrieve the externals with `getPDFAnnotations` ?!

[2017-04-05 13:33] kermitt2 commented on #167
the master branch 0.4.2

[2017-04-05 15:49] thomasopsomer commented on #167
+1  it's working :)

[2017-04-05 18:39] treefolk opened #168 "ArrayIndexOutOfBoundsException in AbstractClassGenerator.create(Object key) (line 166)"
Hi,
 got this exception while executing
createPartialMock(Class.class,"method")

easymock-3.3.1
    - cglib-nodep-2.2.2

java.lang.ArrayIndexOutOfBoundsException: 51966

	at net.sf.cglib.asm.ClassReader.readUTF8(Unknown Source)
	at net.sf.cglib.asm.ClassReader.readClass(Unknown Source)
	at net.sf.cglib.asm.ClassReader.accept(Unknown Source)
	at net.sf.cglib.asm.ClassReader.accept(Unknown Source)

[2017-04-05 18:41] #168 closed

[2017-04-05 18:41] treefolk commented on #168
sorry, wrong thread

[2017-04-06 13:35] paris0120 opened #169 "Titles end with question mark"
Grobid has difficulty in processing citation with titles ending with question mark. For example:

Jensen, M.C., Meckling, W.H., 1978. Can the corporation survive? Financial Analysts Journal, 34: 31-37.

[2017-04-06 19:32] kermitt2 commented on #169
Thanks! I'll add more training examples for this case.

[2017-04-06 19:38] kermitt2 commented on #161
Hello !

Could you provide one or two examples of these files for reproducing the error? (per email to me if it not public)

As info, I've worked on a new fork of pdf2xml which should prevent most of the crash that I've observed so far, but probably not all of them. It will be used in a future release because it requires some changes in GROBID and in training data.

[2017-04-06 19:49] kermitt2 commented on #146
Thanks @MedKhem !

I found the error. It should be fixed on the master branch thanks to the last commit 2916deeee34525640ddd9fde38afae2be4f7fa27

And it has a small but positive impact on body processing according to evaluation on PubMedCentral sample.

Thanks in advance if you could test again for confirmation.

[2017-04-12 05:27] parvinB commented on #14
maven :: 3.3.9
java :: jdk1.8.0_121
windows 7:: 32 bit

I am using grobid by batch mode please advise me for following error as soon a possible::
//Note : also describe how to integrate the Wapiti for Windows 32bit

JarClassLoader: Warning: org/apache/lucene/analysis/cn/smart/hhmm/SegTokenFilter
.class in lib/lucene-analyzers-smartcn-4.5.1.jar is hidden by lib/wipo-analysers
-0.0.1.jar (with diffe

[2017-04-12 08:17] parvinB commented on #14
kermitt2 @lfoppiano
maven :: 3.3.9
java :: jdk1.8.0_121
windows 7:: 32 bit

I am using grobid by batch mode please advise me for following error as soon a possible::
//Note : also describe how to integrate the Wapiti for Windows 32bit

JarClassLoader: Warning: org/apache/lucene/analysis/cn/smart/hhmm/SegTokenFilter
.class in lib/lucene-analyzers-smartcn-4.5.1.jar is hidden by lib/wipo-analysers
-0

[2017-04-12 09:16] parvinB commented on #74
@lfoppiano
maven :: 3.3.9
java :: jdk1.8.0_121
windows 7:: 32 bit

I am using grobid by batch mode please advise me for following error as soon a possible::
//Note : also describe how to integrate the Wapiti for Windows 32bit

JarClassLoader: Warning: org/apache/lucene/analysis/cn/smart/hhmm/SegTokenFilter
.class in lib/lucene-analyzers-smartcn-4.5.1.jar is hidden by lib/wipo-analysers
-0.0.1.jar

[2017-04-12 14:57] MedKhem opened #171 "Bullets and bullets-like characters are mostly not recognised"
In the following excerpt from "Basic English" dictionary, most of the bullets are not recognised:

<img width="289" alt="screen shot 2017-04-12 at 16 36 45" src="https://cloud.githubusercontent.com/assets/12269997/24963308/88c35c1a-1f9e-11e7-9ba1-257e60346197.png">

The only recognised bullets-like character is in front of **preposition**, and it has been recognised as **í**.
For reproducing this

[2017-04-14 08:39] de-code opened #172 "PMC_sample_1943 dataset"
Hi,

The website references PMC_sample_1943 as the training data for GROBID. Unfortunately the referenced URL doesn't seem to be valid anymore. Is there any chance to get hold of that dataset?

Thank you

[2017-04-14 13:30] kermitt2 commented on #172
Hi Daniel,
Thanks for reporting this!
I've updated the url in the documentation to a version I've loaded on Amazon S3.
Just as a precision, as explained in the doc, this dataset is only used for evaluation (benchmark for different releases are under `grobid/grobid-trainer/doc`), not for training.

[2017-04-14 16:37] de-code commented on #172
That's great. Thank you

[2017-04-14 16:37] #172 closed

[2017-04-18 14:18] nguanh opened #173 "Umlaute: ü becomes Ã¼"
Hello!

I have this issue when processing references. Authors with last names such as "Müller" become
"MÃ¼ller"

[2017-04-18 16:55] de-code opened #174 "Paragraph detection issue and missing text"
Hi,

Grobid appears to be quite powerful.

eLife Sciences may have some kryptonite in the form of a test PDF file with various formatting options:
https://github.com/elifesciences/XML-mapping/blob/master/elife-00666.pdf

When I let Grobid loose on it then I experienced some paragraph detection issue and probably consequently missing text.
If you search for say 'Example of a small' then you will se

[2017-04-18 18:45] kermitt2 commented on #173
Hello ! Thanks a lot for the error case. Can you give us some material like PDF or string to reproduce this error?
We do our best to solve all the unicode issues that arise from PDF, and it's with examples like that that we can improve the tool.
Thanks !

[2017-04-19 17:02] nguanh commented on #173
Hello, thanks for the quick reply!
Okay here's one example:
http://www.sciplore.org/wp-content/papercite-data/pdf/lipinski13.pdf
Reference [4] contains the name  Müller, C.

It is parsed as
                            <author>
                                <persName
                                    xmlns="http://www.tei-c.org/ns/1.0" coords="">
                                    <forename ty

[2017-04-20 15:58] benjaminkreen commented on #160
Hey there, I had a quick question. I _just_ started tinkering with grobid and I was wondering if the superscript/subscript identification can be added through training such as giving the following training data:

β-cell Endoplasmic Reticulum Ca<sup>2+</sup>

[code]

thanks for the input

[2017-04-20 18:42] de-code opened #175 "Question regarding pub med evaluation calculations"
Hi,

I am trying to replicate the pub med evaluation stats and have a question regarding the reporting.

As I understand it you are defining:
* _tp_: expected and actual are not empty and they match
* _fp_: expected and actual are not empty and they _don't_ match
* _tn_: both expected and actual are empty
* _fn_: expected is not empty but actual is empty

Say I am limiting it to the first three ma

[2017-04-20 21:09] kermitt2 commented on #175
Hello!

1) Regarding the first point, I am following the standard definition of accuracy. Accuracy is defined as:

[code]

Accuracy must be understood as the ability to correctly label what should be present (`tp`) and correctly not label that should not be present (`tn`). So, for a field corresponding to a low number of labels per instance (the general case), the accuracy will always be very high

[2017-04-25 14:20] paris0120 opened #176 "Citation parser"
Grobid can't parse citation like the following. Maybe year can be used as a separator.

Boubakri, Narjess, Ghoul, Sadok El, and Saffar, Walid, 2012, Cash Holdings of Politically
Connected Firms, Working Paper, Hong Kong Polytechnic University�

[2017-04-25 14:41] lfoppiano commented on #74
@parvinB The reason of your exception is because wapiti is supported only on windows 64bit.

You either move to windows 64bit or you try to compile wapiti on windows 32bit: I don't remember but should be either https://github.com/boumenot/Wapiti or https://github.com/kermitt2/Wapiti  (good luck with that)

[2017-04-26 14:34] de-code opened #177 "Spacing around references"
Hi,

It appears that generally there are no spaces around references (`ref`) in the generated XML.

For example (generated):
[code]

Which should be:
[code]

[2017-04-26 14:40] kermitt2 commented on #177
Hello - this is normally already fixed in the latest branch version.

[2017-04-26 15:07] de-code commented on #177
Do you mean `master`?

[2017-04-26 15:08] kermitt2 commented on #177
oups yes sorry latest master !

[2017-04-26 15:18] de-code commented on #177
Didn't mean to correct you, just to make sure. I made sure I updated `master` and did even clean before a rebuild. I removed the old XML file just to be sure but the issue appears to be still there. (e.g. first PubMed manuscript)

Anything I should be looking at?

[2017-04-26 15:22] de-code commented on #33
Has there ever been a PR for this?

[2017-04-26 15:40] kermitt2 commented on #177
No no I was wrong ;)

I tried the first PubMed central document of the PMC 1942 sample, I obtain this:

[code]

Apparently I've committed everything:

[code]

[2017-04-26 16:02] kermitt2 commented on #33
Yes, although I can't find it any more.

The problem was that the training data depends on the PDF extraction library, I think it is not possible to decouple the PDF extraction part. PDF extraction libraries stream differently the PDF elements (e.g. following the PDF element order, recompose a reading order, etc.).

The consequence would have been to manage different training set depending on the

[2017-04-26 22:32] de-code commented on #177
Hmmm how very odd. On that example I am seeing now a space to the right but not to the left. i.e.:
[code]

That is running it via the PubMed evaluation itself. i.e.:
`mvn compile exec:exec -PPubMedCentralEval -Dpmc=... -Drun=1`

When I run Grobid directly it seems to exhibit a different behaviour and continues with a different text (I guess it is picking up a different config) but still no space t

[2017-04-26 22:48] de-code commented on #33
It appears some people spend years researching just one aspect of the PDF conversion, like text block detection, proper reading order, formulas etc. it will be difficult for one tool to cover it all perfectly. It would be good if researchers could improve one puzzle of the tool chain.

Like in this case the input to Grobid could focus on extracting references and perhaps even some Figures. Could t

[2017-04-27 05:19] parvinB commented on #74
@lfoppiano
thanks

[2017-04-27 09:05] kermitt2 commented on #33
I think you're mixing a bit two different aspects. Developers/integrators can use different tools like Grobid extracting different complementary structures or similar ones, and merge these outputs according to their requirements. So they can take advantage of different specialised tools in a flexible manner without putting heavy integration requirements on each tool (that will in practice never be

[2017-04-27 10:15] kermitt2 commented on #177
I also see the missing spaces on the left with the current master! I overlooked them because they are not apparent with the grobid console (there is a new line inserted before) and I did not check with a file editor. I try to fix that quickly, thanks.

[2017-04-27 10:33] de-code commented on #33
I can see how I could merge Grobid's output with the output of other tools, say something that looks at formulas (as long as there is enough information to link them back, e.g. where the formula should be placed within the Grobid extracted text).

But like in https://github.com/kermitt2/grobid/issues/174 - there are paragraph / reading order detection issues (there are others). And I am not sure h

[2017-04-27 11:33] de-code commented on #177
Phew... I was starting to question what I was doing.

I also noticed missing spaces at page boundaries. For example (same PMC paper):
`only at the highest toxic doseof 200 mg qd`

instead of:
`only at the highest toxic dose of 200 mg qd`
(`dose` is on page 237 and `of` is on the following page 238, separated by a figure)

I am not sure if that is caused by the same issue.

[2017-04-27 20:03] kermitt2 commented on #33
Please send me your email address, I'll invite you on the slack channel dedicated to GROBID development!

The important point is that the PDF library has an impact on the training data because there's a need for aligning PDF output and annotations. I don't think it is possible to be independent from the PDF library and to ignore PDF parsing in Grobid - as far I've explored the problem and differen

[2017-04-27 20:11] kermitt2 commented on #177
Both issues are indeed related but with different models - segmentation in this particular case of page boundary and fulltext for the `<ref>` elements. Basically the way we create and iterate among labelled sequences (the nice `TaggingTokenClusteror` class), in some cases, does not preserve easily some starting and ending spacing.

The missing spaces for the `<ref>` should be fixed with commit f5d

[2017-04-27 21:07] de-code commented on #174
I noticed the same or something similar happens with the first PMC manuscript for example. However, the extracted XML looks a bit different depending on the parameters. The PMC evaluation doesn't include assets where as the default for fulltext extraction is to include it (took me a while to track that down).

So with assets enabled, it starts to loose paragraphs on page 237 which happens to be af

[2017-04-29 07:47] wihoho opened #178 "Will incremental learning be supported in this library?"
As the training process is costly every time to take the whole data, is it possible to perform incremental learning on CRF based on users' annotation in real time?

Do you think that it is a good idea? If so, how shall it be proceeded?

thanks.

[2017-04-29 10:43] kermitt2 commented on #178
Hello!

Yes we thought about that because Wapiti offers this incremental training possibility. The problem is that the model that is created incrementally will always be less accurate than one created "globally" with all the training data. This actually raises problem with the idea to create new training data, because we cannot track accurately the contribution of new training data and the need fo

[2017-04-29 11:40] wihoho commented on #178
Hi kermitt2,

Thanks for your detailed response and guidance. Let me have a look at this part and see how to implement this incremental learning. I definitely need your help in the very near future.

[2017-05-03 07:26] kermitt2 commented on #177
Normally the spacing problems around references and in relation to your page boundary example are now all fixed.

[2017-05-03 10:50] de-code commented on #177
Great, thank you.

[2017-05-03 10:50] #177 closed

[2017-05-03 11:13] de-code opened #179 "Space between regular character and sub-script character/number"
This is also from the first pubmed manuscript (Introduction):
"...suppression of integrin α2 by E7820..."

The 2 after α is in subscript.

Currently an extra space is added:
"...suppression of integrin α 2 by E7820..."

This may be related to https://github.com/kermitt2/grobid/issues/160 but then seems a different problem. Just because it's a different font/style may not mean that there should be

[2017-05-03 11:29] de-code opened #180 "Hyphen at line break removed"
In the first pubmed manuscript, a number of times 'α2-integrin' is at a line break, e.g.:
"was mediated through the inhibition of expression of α2-
integrin (1,2). Integrins are receptors that mediate attachment"

In the output it becomes:
"was mediated through the inhibition of expression of α 2integrin..."
(The space is another issue https://github.com/kermitt2/grobid/issues/179)

In some cases

[2017-05-03 11:55] de-code commented on #180
Actually there is another not so clear word hyphenation example:
"Mean PK parameters CL, V, and F were calculated by non-
compartmental analysis. The tumor growth experiments in"

Becomes:
"Mean PK parameters CL, V, and F were calculated by noncompartmental analysis...."

In the nxml file it is annotated as 'non-compartmental'. I believe both versions are valid. So I would probably not treat that

[2017-05-03 22:33] kermitt2 commented on #179
It's a different problem indeed, #160 is for detecting the fact that a token is a subscript or superscript.

Here, the extra space is a consequence of `pdf2xml`. In the XML format generated by pdf2xml, normally each token is separated by a space character... except when the font or size of these two tokens are different - then we have two different tokens and we don't know if there is a space betw

[2017-05-03 22:47] kermitt2 commented on #180
Thanks for the issue!

Dehyphenization is tricky ;). I was aware of these issues, but it's very useful to have a dedicated issue for that and discuss.

So far what is implemented now is very simplistic - it does not require dictionaries and resources, but it produces the errors you are mentioning. Basically, when there is an hyphen at the end of the line, we always dehyphenize.

We could introduce

[2017-05-04 07:46] lfoppiano commented on #159
I'm going to close this issue, @AhaAhaz if you have more questions feel free to reopen it.

[2017-05-04 07:46] #159 closed

[2017-05-04 07:51] lfoppiano opened #181 "Update documentation for docker"
I open this issue not to forget, with the latest docker image for jetty there are some improvement on the way we can pass the allocated HEAP to the JVM.

We need to test it and documentation needs to be updated.

[Here](https://github.com/appropriate/docker-jetty/issues/37#issuecomment-298773353) the reference.

[2017-05-04 10:57] de-code commented on #179
Just had a look at the ALTO format. It looks like they have a separate `SP` tag for that.
(Reference example here: https://github.com/altoxml/reference_samples)

Cermine is using the Trueviz format for training data annotations. It separates 'Zones' into 'Lines' into 'Words' and 'Characters'. ALTO seems similar in a way but is more flexible. So I might use that for my annotated training data. Alth

[2017-05-04 11:16] de-code commented on #180
Intuitively I was going to claim that it isn't common that words are broken across lines. Scanning through the same PDF the evidence shows it is quite common actually. One approach could also be to look at other examples within the same document. I checked a few examples (around 7), the only one I couldn't find another time so far was 'NON-MEM'. If it was for me, then I would like to have the opti

[2017-05-04 13:21] liar666 commented on #180
On 05/04/17 13:16, Daniel Ecer wrote:

That's one of the multiple differences between MSWord and LaTeX: by default, Word does not "hyphenize" words (and did not propose an option to do so before v2010), whereas LaTeX always had an option to do so (at least manually - to my knowledge, dating back to the 90s). Since most of the scientific papers are written with LaTeX, you'll indeed encounter many w

[2017-05-08 14:57] LED-Jose opened #182 "Problem with grobid build dependencies"
Hi!
I have compiled GROBID several times without problem. But now there are dependencies that I can not find in: https://repo.maven.apache.org
There are:
fr.limsi.wapiti:wapiti:jar and org.chasen:crfpp:jar

Can somebody help me.
Thanks in advance.

[2017-05-10 23:34] kermitt2 commented on #179
Thanks! [ ALTO](https://www.loc.gov/standards/alto/) looks indeed a good choice. It is used a lot by many national libraries because ABBYY FineReader (which is used by most massive digitalization projects) can produce it. I already received requests to make GROBID supporting ALTO as input format.

The alternative I think would be [hOCR](http://kba.github.io/hocr-spec/1.2/), produced by some open s

[2017-05-11 07:37] kermitt2 opened #184 "Remove batch mode"
Batch mode appears to be used quite a lot, however it is far less efficient and flexible than the service mode which can exploit automatically multithreading and offers more options.

Some users select unfortunately the batch mode to evaluate the tool and report benchmarking - even worse relaunching a batch file per file while the tool is not designed at all for a cold start for each PDF (which su

[2017-05-11 09:03] lfoppiano commented on #184
I have a similar solution, maybe simpler than having to deal with node.js/bash.
We could just transform the "batch engine" as a simple _client_, like a wrapper to call the service via command line. In this way the client will require the server to run.
Before doing any processing we ensure the user is not reloading models and doing any sort of dirty stuff.

If the service is down the client would

[2017-05-11 09:10] kermitt2 commented on #184
Ah yes this would avoid the issue of portability of bash and to install node.js which often a pain.

[2017-05-11 16:10] rathancage opened #185 "Error: [PDF2XML_CONVERSION_FAILURE] PDF to XML conversion failed on pdf"
`>>>>>>>> GROBID_HOME=C:\grobid-master\grobid-home
[main] INFO org.grobid.core.main.LibraryLoader - Loading external native CRF library
[main] INFO org.grobid.core.main.LibraryLoader - Loading Wapiti native library...
[main] INFO org.grobid.core.main.LibraryLoader - Library crfpp loaded
[main] INFO org.grobid.core.jni.WapitiModel - Loading model: C:\grobid-master\grobid-home\models\header\model.wa

[2017-05-11 16:16] kermitt2 commented on #185
Hello which version of GROBID are you using?

Normally our fork version of pdf2xml will fix most of the PDF parsing failures. To check it, you can send me this particular pdf by email for instance.

The fact that the header-only works fine is because for headers, only the first two pages of the PDF are parsed.

[2017-05-11 16:18] rathancage commented on #185
Just checked for the full document with the web application. It works fine. I am using 0.42 Snapshot here.

[2017-05-11 16:22] rathancage commented on #185
`[pdf2xml[1.pdf]] ERROR org.grobid.core.process.ProcessRunner - IOException while launching the command [bash, -c, ulimit -Sv 6242304 && C:\grobid-master\grobid-home\pdf2xml\win-64/pdftoxml -blocks -noImageInline -fullFontName  -l 2  '1.pdf' C:\grobid-master\grobid-home\tmp\c3aKfwnJye.lxml] : Cannot run program "bash": CreateProcess error=2, The system cannot find the file specified
org.grobid.cor

[2017-05-11 16:27] kermitt2 commented on #185
pdf parsing library has been updated in version 0.4.2-SNAPSHOT, version in 0.4.1 is less robust.

[2017-05-11 16:33] rathancage commented on #185
So, with the 0.4.2-SNAPSHOT version and this as the error:
`>>>>>>>> GROBID_HOME=C:\grobid-master\grobid-home [main] INFO org.grobid.core.main.LibraryLoader - Loading external native CRF library [main] INFO org.grobid.core.main.LibraryLoader - Loading Wapiti native library... [main] INFO org.grobid.core.main.LibraryLoader - Library crfpp loaded [main] INFO org.grobid.core.jni.WapitiModel - Loading

[2017-05-11 16:35] kermitt2 commented on #185
I can't really say without testing the pdf myself.

[2017-05-11 16:47] rathancage commented on #185
[Link to the pdf I tried with](https://www.researchgate.net/profile/Alberto_Laender/publication/220924337_A_source_independent_framework_for_research_paper_recommendation/links/55e5ead708aede0b57376257.pdf)

I have tried with different pdfs giving the same error. If it adds to anything, I added some of the libraries independently as external JARS and haven't used Maven dependency. Thanks in advanc

[2017-05-11 16:50] rathancage commented on #185
The error points to this statement btw:
`			String tei = engine.processHeader(pdfPath, false, resHeader);
`
Hoping that leads to the cause of the error*

[2017-05-11 16:59] kermitt2 commented on #185
This PDF is working fine on Linux with the new pdf2xml fork. So you need to wait for a recompiled version of this new pdf2xml on Windows. I am not able to recompile it on Windows because I have no Windows machine but hopefully it will be done when releasing version 0.4.2 of GROBID by another contributor.

Here is the resulting TEI:
https://grobid.s3.amazonaws.com/NascimentoLSG-JCDL2011.tei.xml

it

[2017-05-11 17:00] rathancage commented on #185
It does indeed. I will give it a try in Linux once. Thanks.

[2017-05-11 17:03] kermitt2 commented on #166
see #185
need to recompile pdf3xml fork for Windows 64

[2017-05-11 17:04] kermitt2 commented on #161
see #185  and #166
need to recompile pdf3xml fork for Windows 64

[2017-05-11 17:05] kermitt2 commented on #185
see #161 and #166
need to recompile pdf3xml fork for Windows 64

[2017-05-11 17:07] rathancage commented on #185
Not to sound silly but in the crash #166, it is stated that it works well with 0.4.1 which provides an error in my case as stated above. Is it due to pdf3xml fork for Win 64?

[2017-05-11 17:10] kermitt2 commented on #185
The fact that #166 doesn't work with 0.4.2-SNAPSHOT is because pdf2xml is not recompiled for Windows - a different symptom but the same cause ;)
All these issues will disappear by updating pdf2xml.

[2017-05-11 17:15] rathancage commented on #185
Oh, okay. Thanks for the quick responses, @kermitt2 I will check it out in Linux. Great stuff @GROBID btw!

[2017-05-11 17:30] kermitt2 commented on #185
thanks @rathancage you're welcome!

[2017-05-11 22:45] zedomel opened #186 "grobid-core/pom.xml missing lucene-analyzers-smartcn dependency"
I could not compile grobid without adding a dependency of lucene-analyzers-smartcn-4.5.1 to grobid-core/pom.xml.

`
<dependency>
            <groupId>org.apache.lucene</groupId>
            <artifactId>lucene-analyzers-smartcn</artifactId>
            <version>4.5.1</version>
</dependency>
`

[2017-05-12 03:10] zedomel opened #187 "CrossrefUnixrefSaxParser overwriting document DOI from citation list"
CrossrefUnixrefSaxParser overwrites document DOI being consolidated by last DOI found in citation list.
Pull request should fix it: #188

[2017-05-16 19:10] UntoterOstgote commented on #185
grobid actually works out of the box in "Linux Subsystem for Windows", so you can develop in Windows, deploy and run grobid as a service in Linux and call grobid-APIs from Windows again, all on one machine, without messing around with VMs.

![grobid](https://cloud.githubusercontent.com/assets/10063940/26123640/e880300e-3a7b-11e7-8a1b-da17d6635913.PNG)

[2017-05-17 13:52] thomasopsomer opened #190 "What can cause: "Could not set GROBID_HOME" ?"
Hi,
Sorry not really an issue with grobid, but I'm trying to understand what could cause the following error:
`org.grobid.core.exceptions.GrobidPropertyException: [GENERAL] Could not set GROBID_HOME`

Some guesses:
- trying to init a new context without detroying the previous one ?
- trying to init several context in the same JVM ?

I'm asking because I can't reproduce the error on the fly, It jus

[2017-05-18 09:41] thomasopsomer commented on #190
Finally I'm pretty sure it was due to "trying to init several context in the same JVM".

In scala the solution is to wrap grobid into an object, and setting the engine as a "lazy val", useful for a spark job...

[2017-05-19 15:32] lfoppiano commented on #186
Hi @zedomel, could you please give us which version did you use and which error did you get (the most accurate stack trace, the better)?

[2017-06-01 03:57] Zara-Nasar opened #191 "TEI has Missing Sections"
I am using **Grobid 0.4.1** on **Windows** platform and currently performing **fullTextProcessing**. Some section of sub-set of PDFS are missing in TEI.

I have processed these documents into live Grobid web-server, they get parsed successfully.
(Server is using Grobid 0.4.2 and currently and I am currently having build issues in grobid-home)

Currently, the attached result altogether skips main h

[2017-06-04 23:55] kermitt2 commented on #191
Dear @Zara-Nasar

First many thanks for reporting the issue.

This problem is related to the cover page added by ResearchGate. The GROBID models are currently trained mostly without any cover pages and their detection is not reliable - it should improve in the future by adding more examples like that in the training data of the segmentation model.

Until that, fixing this issue is very straightfor

[2017-06-05 04:42] Zara-Nasar commented on #191
Thanks :)
I've already tried this via demo Grobid Server (0.4.2-Snapshot) and it gets parsed successfully ( I tried to mention this in question but notion was not that clear, my bad)
The latest stable version i.e. 0.4.1 results into the missing section xml. Any idea what possibly could be the issue, as it works fine for many other pdfs having the same format.

[2017-06-05 05:13] Zara-Nasar opened #192 "Missing and Merged References"
In latest stable release 0.4.1 and current development version 0.4.2-Snapshot, there is an issue regarding references parsing in some Pdfs.
Some references are being merged together, In my observation, these are usually links to websites (not cited papers). Some references are not being parsed as references and these altogether affect the reference sequence in overall text.

Paper Title : An autom

[2017-06-05 12:15] kermitt2 commented on #191
Ok it's probably simply that the models and features have been updated in version 0.4.2-snapshot, so it is normal and expected to have some improvement. The current master version 0.4.2-snapshot - normally as it is now - is going to be the next stable release. The only blocking thing for this new release version is that the new version pdf2xml would need to be recompiled for Windows 64bit which I

[2017-06-05 12:21] kermitt2 commented on #192
These very short references to software tools and systems (45-48 in your example) are reference styles almost not present in the training data currently (training is almost only bibliographical references to journal and conference articles, reports or books). We would need more training examples similar to this article (but articles that can be re-used freely as public training data) to have relia

[2017-06-05 14:50] Zara-Nasar commented on #191
Can you guide me bit about how to recompile the respective dll for Windows i.e. which code is to be used to get it done. I would like to give it a try.

[2017-06-05 14:50] #191 closed

[2017-06-06 18:46] kermitt2 commented on #191
So for information, the missing updated library for Windows is the fork of pdf2xml: https://github.com/kermitt2/pdf2xml
Recompiling the dll with this new version would be very welcomed :)
Current old version is under `grobid/grobid-home/pdf2xml/win-64/`

[2017-06-07 04:27] Zara-Nasar commented on #191
For information, I am working on it. Currently latest mingw-64 release is not being installed due to an issue in installer file. If I get it working, I will let you know :)

[2017-06-08 13:04] digitalw commented on #96
Seems like I have the same/or related issue in tomcat8
the following code produces the `javax.naming.OperationNotSupportedException: Context is read only` error when the web application is deployed:

    javax.naming.OperationNotSupportedException: Context is read only
	at org.apache.naming.NamingContext.checkWritable(NamingContext.java:967) ~[tomcat8-catalina-8.0.38.jar:8.0.38]
	at org.apache.nam

[2017-06-14 14:23] lfoppiano commented on #139
@kaplun I forgot to mention, you might want to have a look at https://github.com/Vi-dot/grobid-smecta ;-)
At the moment is tailored to handle astronomical training data (https://github.com/kermitt2/grobid-astro) but looks promising. This could be a common point of discussion in Berlin :-)

[2017-06-15 04:34] Zara-Nasar commented on #191
I've got grobid master development version running in windows-7 64 bit.
I am unable to upload these binaries as a zip file, thus renamed it with .pdf.

[win-64.zip.pdf](https://github.com/kermitt2/grobid/files/1076572/win-64.zip.pdf)

[2017-06-21 12:43] moissinac opened #195 "Error reported by XML parser: Invalid byte 2 of 3-byte UTF-8 sequence."
Hello
Thank's for your tool
I'm getting the same error with a lot of pdf files
I'm trying the grobid service 0.4.1 on a windows 10 install
A sample PDF file is available here
http://givingsense.eu/sembib/data/srcPdf/A%20Branch%20and%20Bound%20Method%20for%20the%20Aggregation%20of%20Symmetric%20Relations.pdf
which is accepted by several PDF tools
Here is the begining of the log for a failing pdf
[D

[2017-06-24 18:26] kermitt2 commented on #195
Hello !

The PDF file is working fine with current master version (0.4.2-SNAPSHOT). The pdf parser has been improved in between (it uses now the following fork: https://github.com/kermitt2/pdf2xml and is more robust).

You can test it with the latest version via the online demo: http://grobid.science-miner.com

The current master with this new pdf parser is not yet available on Windows, some binar

[2017-06-24 18:29] kermitt2 commented on #195
You can however make the master version work on Windows 10 as explained by @UntoterOstgote on issue #185.

[2017-06-27 06:39] dominic-sps opened #196 "Handling Jr., Sr. in names (Affiliation and Citation)"
I am using latest version 0.4.2 and checked the following issues in Windows 7 as well as CentOS 7
Reference Citation Sample checked:
Clow GD, McKay CP, Simmons Jr. GM, and Wharton RA, Jr. 1988. Climatological observations and predicted sublimation rates at Lake Hoare, Antarctica. Journal of Climate 1:715-728.

Issue 1. It changes the forename "GD" as "Gd"; "CP" as "Cp" etc.
Issue 2. Captures Jr. a

[2017-06-28 12:18] dominic-sps commented on #174
Removal of content is a major issue. Appreciate any fix for this.

[2017-07-05 04:29] dominic-sps commented on #196
I am trying GROBID with one of your grobid-example\src\test\resources\Wang_paperAVE2008.pdf and copied this pdf in \test\in for my following test. I changed the author name to "Rui Wang Jr".

In Windows 7, 64bit with **createTrainingHeader**:
`java -Xmx1024m -jar \grobid\grobid-core\target\grobid-core-0.4.2-SNAPSHOT.one-jar.jar -gH \grobid\grobid-home -gP \grobid\grobid-home\config\grobid.properti

[2017-07-05 04:37] dominic-sps opened #197 "Java NullPointerException/InvocationTargetException error for processAuthorsHeader"
I am trying GROBID with one of your grobid-example\src\test\resources\Wang_paperAVE2008.pdf and copied this pdf in \test\in for my following test.

In Windows 7, 64bit with **processHeader**:
`java -Xmx1024m -jar \grobid\grobid-core\target\grobid-core-0.4.2-SNAPSHOT.one-jar.jar -gH \grobid\grobid-home -gP \grobid\grobid-home\config\grobid.properties -dIn \test\in -dOut \test\out -exe processHeader

[2017-07-06 12:46] cwenge opened #198 "Re-Training the header model"
Hello guys,

I am a student and kind of new in using AI-techniques in practice - especially using Grobid and I would like to ask some basic questions.
This is my situation: I want to extract informations (title, authors, abstract paragraph and the publishing magazine) from pdf files. Grobid already works quite well with your pre-trained model, especially for titles, authors and the abstract paragr

[2017-07-09 15:50] kermitt2 opened #199 "Compatibility of dependencies with Apache 2 license"
In the project, there are currently a couple of dependencies incompatible with Apache2 license: onejar, xom

Tasks:

- [ ] add a VersionEye badge on the project main page to better keep track of license issues (and versions)

- [ ] replace/remove onejar

- [ ] replace/remove xom

- double check compatibility of the dependencies servlet-api. minepull and jsp-api

[2017-07-10 07:26] dominic-sps opened #200 "Running 'createTrainingHeader' via grobid-service"
This is not an issue but missing in the grobid-service module. Is there any way I could run "createTrainingHeader" as a service? Appreciate any help in this regard. Let it merge all the 4 files that it creates currently into a single file and and respond back.

[2017-07-10 10:18] lfoppiano commented on #199
To replace XOM we could use [Stax 2](https://github.com/FasterXML/stax2-api) using Woodstox or aalto.
In principle all the elements w3c are already provided with Java 7 / Java 8 (e.g. Element, Document) AFAIK, from what I've quickly seen, what's needs to be rewritten is the Parsing and the toXml() methods.

Regarding onejar it could be replaced by the jar maven plugin: e.g. a solution [here](https

[2017-07-10 10:30] kermitt2 commented on #199
Thanks @lfoppiano !

xom was nice for the toXml() methods

Given #184, we actually would even not need anymore onejar-style build.

[2017-07-12 14:46] lfoppiano opened #201 "Download of the resulting XML"
Add a button in the grobid console to download the resulting XML.

To force the browser to download the xml instead of trying to parse it, see [here](https://stackoverflow.com/questions/3860750/how-to-download-an-xml-without-the-browser-opening-it-in-another-tab#3860782).

[2017-07-12 14:47] lfoppiano commented on #98
@detonator413 this is the issue about JATS :-)

[2017-07-12 15:04] kermitt2 opened #202 "Experiment with ContentMine AMI for structuring content of table"
That's for August :)

[2017-07-12 15:23] kermitt2 opened #203 "Integrate visual clues via image analysis techniques"
@de-code
use character classification to add features to LayoutToken
start with header and/or segmentation model

[2017-07-12 15:33] kermitt2 commented on #146
@MedKhem could we close this one?

[2017-07-13 09:23] cwenge commented on #7
Could you give me a status update on this issue? Is Grobid now capable of looking at the first two pages for bibliographic data?
By the way: how many PDFs/training files would you suggest to train the fulltext model for solving this problem?

[2017-07-14 14:38] lfoppiano commented on #200
Hi @dominic-sps, the reason of this functionality is not included in the grobid-service is that at the moment the creation of training data is a separate offline operation from the processing.
What would be the reason/use case for having that directly in the grobid-service?
One solution is that you implement your own service for training data creation and integrate the grobid-core library, in orde

[2017-07-14 14:42] lfoppiano commented on #182
Hi @LED-Jose, could you give us some details about your problem? version used, log, platform, etc.
thanks

[2017-07-14 16:45] kermitt2 commented on #180
As a complement, here is a blog post from one founder of Authorea about the ratio of scientific papers written with LaTeX (~18% of all articles, but, as expected, largely dominating in a couple of domains).

https://www.authorea.com/users/3/articles/107393-how-many-scholarly-articles-are-written-in-latex/_show_article

[2017-07-14 17:12] kermitt2 commented on #190
I think this is a context that is set while already existing. This should normally be prevented with the method mockContextIfNotSet() in grobid/grobid-core/src/main/java/org/grobid/core/main/LibraryLoader.java, but it could still exist cases when it's not checked correctly. If you still can reproduce this error, can you give us the full trace of the exception so that we can identify where the cont

[2017-07-14 17:13] kermitt2 commented on #187
Fixed by merging the pull requets 3939c3bb1a528efaa3af1d0a56fe620c6d2672ee

[2017-07-14 17:13] #187 closed

[2017-07-14 17:24] kermitt2 commented on #182
These two artefacts are not in repo.maven.apche.org, they are provided locally in the `grobid-core/lib/` directory. In the `pom` file, it is set like this:

[code]

Be sure to have this included in your pom file (this is the case in the repo). Otherwise, I don't see what can cause this problem.

[2017-07-14 17:47] kermitt2 commented on #173
Hello,
I've just tried the paper with the current master, it worked fine:

[code]

You can test it with the test demo http://grobid.science-miner.com

[2017-07-14 17:57] #51 closed

[2017-07-14 18:00] kermitt2 commented on #79
So, as there is now a dedicated project and repo on this since more than one year, I close the issue ;)

[2017-07-14 18:00] #79 closed

[2017-07-14 18:49] kermitt2 commented on #197
Hello Dominic,

`-exe processAuthorsHeader` and `-exe ProcessAffiliation` takes a `string` as input (`-s`) not a PDF file. See the documentation: http://grobid.readthedocs.io/en/latest/Grobid-batch/#processauthorsheader

However, when failing as you report, the tool should give an error message explaining what are the expected parameters, and not a NPE.

[2017-07-15 15:36] dominic-sps commented on #200
`One solution is that you implement your own service for training data creation and integrate the grobid-core library, in order to have a service for training data generation.`

This is what I am trying now. I have merged the author and affiliation training XMLs and created my own xml. The reason is, I noted that the training XMLs has more details than the output created by 'processHeaderDocument'

[2017-07-15 17:10] lfoppiano commented on #200
Ok, what do you mean with `the training XML has more details than the otuptu created by processeHeaderDocument`?

The training XML (they are produced also together with a feature list text files) they are meant to be manually corrected by expert users.

Could you be also more specific of what you intend to do with the XMLs? I'm asking because I"m not sure I've understand what you are trying to ach

[2017-07-16 11:20] kermitt2 commented on #200
Hi Dominic,

`createTrainingHeader` uses the segmentation model for identifying the header zone, while the current `processHeaderDocument` does not use it yet. This explain why you see more material with `createTrainingHeader` at the current time. Using `createTrainingHeader` is not a reliable solution of course because it's not its purpose to get usable results - simply to get usable training dat

[2017-07-16 11:36] kermitt2 commented on #174
Hello,

The reasons why some text might be missing are:

* pdf parsing issues, in particular problem with capturing the reading order,

* misclassification of zones at the segmentation level (for instance a paragraph is wrongly identified as annex) and at full text level (for instance a paragraph is wrongly recognized as figure caption).

Both factors can play in combination... The reason why usin

[2017-07-16 11:48] kermitt2 commented on #7
Hello!

The processing of PDF now starts with a model that identifies the different "zones" (cover page, header, body, bibliographical references) called the _segmentation_ model. Creating the training header file relies first on the segmentation model to identify the header zone, and only what has been identified as header zone will be present in the header training data file.

With the segmentat

[2017-07-16 12:25] kermitt2 commented on #200
@dominic-sps if you want to have the same material in `processHeaderDocument` as with `createTrainingHeader`, you can use the segmentation model in `processHeaderDocument` by modifying the file `GrobidRestProcessFiles.java` (under `grobid-service/src/main/java/org/grobid/service/process`) as follow:

line 81-82 and 88-89 change this

[code]

into this:

[code]

It should work... but given the curr

[2017-07-16 12:51] kermitt2 commented on #198
Hello!

Normally this yellow piece of text should be present in the .header.tei.xml and .header.tei.xml files as `note` - ok not good but at least present:

[code]

1. So relatively to your question 1., indeed you can't add or remove text - you can only move tags in order to ensure the alignment with the .header file will work correctly.

So you would need to change the excerpt above as:

[code]

[2017-07-16 13:00] kermitt2 commented on #196
Thanks @dominic-sps for reporting these issues!

For your second post, see issue #200 for explanations and how to have the same via `processHeader` as via `createTrainingHeader`.

For the first one, these are indeed two separate issues:

1. these kind of  forenames "GD" are not well post-processed, but it should be straightforward to fix that

2. missing Jr is due to the training data, there are t

[2017-07-17 06:00] dominic-sps commented on #200
@kermitt2 , It does load the segmentation model after the above change but the expected <suffix> tag is still missing in the output.

[2017-07-17 06:16] dominic-sps commented on #196
I have access to major STM publishers' (SpringerNature, Elsevier, Wiley & TnF) header XML files but not the PDFs.
To create the training datasets do I have to use `createTrainingHeader` option to process PDFs or I can write an XSLT for the available header XML files and directly generate the `*.affiliation.tei.xml` and `*.authors.tei.xml` and train my GROBID engine.

[2017-07-17 06:42] kermitt2 commented on #200
Could you send me maybe an example where `createTrainingHeader` provides more info than `processHeaderDocument` after the above mentioned change, so that I can recreate the issue?

[2017-07-17 06:55] kermitt2 commented on #196
In GROBID, author names in reference citations (your first post in this issue) are structured with a different model than author names in the header.

For reference citation, the model `name-citation` is used. You need to use `createTrainingFullText` on a PDF. Among the different files created you will have those corresponding to the reference citations and those corresponding to names in the refe

[2017-07-17 07:10] dominic-sps commented on #200
1. Running `createTrainingHeader` on file [Wang_paperAVE2008.pdf](https://github.com/kermitt2/grobid/files/1151761/Wang_paperAVE2008.pdf)

Screen messages
[code]
Refer the person name tag in `Wang_paperAVE2008.authors.tei.xml.txt`
[code]
Files Created (renamed as txt)
[Wang_paperAVE2008.affiliation.tei.xml.txt](https://github.com/kermitt2/grobid/files/1151774/Wang_paperAVE2008.affiliation.tei.xml.

[2017-07-17 08:02] kermitt2 commented on #200
Many thanks !

There was a bug in the way name suffix were set (nothing to do with the model or training data). It is fixed and works with your example after commit b738f1f862c269582efe0ffe953c0268561130c4.

[2017-07-17 08:53] thomasopsomer commented on #190
Actually I haven't this issue anymore thanks to lazy instantiation of the the context. But I'll reopen if I reproduce it by chance :)

[2017-07-18 03:33] dominic-sps commented on #196
Thank you and noted the citation related training. I would like to know more about training the header part?

I am currently trying to structure the raw manuscript (new unpublished) in Word format into usable XML format. I am automatically cleaning the Word document and converting into PDF format. Then I am using GROBID to process the PDF file. At first we are targeting only the header part and no

[2017-07-18 10:22] kermitt2 commented on #201
Hi @MedKhem  !

It's not working properly for me, here is the XML I download (attached).
[export.xml.txt](https://github.com/kermitt2/grobid/files/1155525/export.xml.txt)

* XML document is incomplete and cut suddently

* No line break anymore

[2017-07-18 10:23] kermitt2 commented on #201
(probably a matter of taste, but the button in the GUI looks very good for me!)

[2017-07-18 11:21] MedKhem commented on #201
I re-tried the button with 3 different files on Safari and Chrome, and the output didn't cut for me. On which browser have you seen the anomaly?

For the line breaks, is it necessary to keep them? The generated xml file is anyway well formed and could be visualised in any browser correctly. Oxygen can as well display it correctly with a simple click on "Format and Indent".

For the button layout,

[2017-07-18 12:21] MedKhem commented on #146
I have just tested again and the problem is fixed. I think you could close it :)

[2017-07-18 13:21] kermitt2 commented on #201
I tried it with Firefox 54.0

I think it's much better to keep the end of lines.  1) I don't see why we would want to modify the XML as compared to the original one returned by the API (it's confusing for a test console). 2) the advantage of TEI is that it should be readable and removing the EOL makes it unreadable. 3) not everybody view an XML file with a browser (I don't), and a lot of people ar

[2017-07-18 13:22] #146 closed

[2017-07-18 18:45] kermitt2 commented on #196
Normally, you have to use `createTrainingHeader`, so that you can obtain the *.header files necessary for training, so option 1. You can then correct the header annotations, retrain and focus on the secondary models (the models used in cascade from the result of the header model) the affiliation and header author names models/training files.

[2017-07-19 12:56] lfoppiano commented on #195
@moissinac the issue you had with the UTF-8 XML parsing should be now fixed, give it a try and let us know

[2017-07-19 14:08] moissinac commented on #195
Tested with success with the online version and the service version for the latest release
Many thank's

[2017-07-19 14:08] #195 closed

[2017-07-19 16:05] lfoppiano commented on #197
I've changed this with something like
[code]

[2017-07-19 16:10] lfoppiano commented on #182
@LED-Jose any more development on this? Can we close it?

[2017-07-21 08:57] #197 closed

[2017-07-21 08:58] #200 closed

[2017-07-22 15:01] moissinac opened #206 "Unable to convert some files (link to example)"
Hello
Thank's for your tool
I'm trying the grobid service 0.4.2 on a windows 10 install (last version reloaded on July 19th)
A sample PDF file is available here
http://givingsense.eu/sembib/data/srcPdf/A%20Distributed%20Algorithm%20for%20Large-scale%20Generalized%20Matching.pdf
My local install or Grobid onlines fails for the TEI All References and Full Text process, while success for the header p

[2017-07-28 09:47] de-code commented on #174
Thank you for that.

I think in that case the text was missing all-together and didn't appear as a figure or table description either. I guess it would be interesting to debug that to find out what was actually causing it.

Using the assets / images to aid segmentation seems to make sense. At least I'd be interested in that.

The eLife PDF document itself is not so important itself. The XML will h

[2017-08-01 10:37] aoboturov commented on #77
The WIPO library should be changes in the following way:
https://gist.github.com/aoboturov/b27bb814e6c6fea8a80c667bc54cf4f0

One this is done, Lucene should be added as a direct dependency to Grobid Core.

@kermitt2 could you publish the sources for the WIPO library on Github?

[2017-08-01 12:09] aoboturov commented on #77
Actually, the prefix for the shadow should be more project specific, e.g. something like `wipo-analysers`

[2017-08-01 14:16] aoboturov commented on #77
I actually forgot to shade services from SPI:

https://gist.github.com/aoboturov/00028fbc0a15c2dc0f3e990ceb5a9eac

The new pom.xml contains these changes.

[2017-08-01 18:02] kermitt2 opened #209 "Centralise annotation guidelines for training data in the doc"
We need to centralize all the annotation guidelines in a single place easy to manage and edit. Let's move all the annotation guidelines (now docx/pdf) under doc/ in markdown format so that it will be accessible from the documentation on readthedocs.io in a new section.

[2017-08-01 18:05] kermitt2 opened #210 "Make generation of training data easier"
Currently the generation of training data is realized by three different command-line methods, and it is unclear which resource for which model are going to be generated by each of these three commands.

Let's replace this by a single command line "generareTrainingData" that will generate the training data for all the models in one go. In parallel, improve the documentation to make clear which tra

[2017-08-01 20:16] kermitt2 commented on #77
I've integrated your changes thanks @aoboturov ! It should work fine now with commit a35706a2db27cc7d1b24167bbcee1494d9c26246.

[2017-08-02 13:46] #77 closed

[2017-08-02 15:36] kermitt2 opened #213 "Use new Crossref API"
Classes are ready under package `org.grobid.core.utilities.crossref` thanks to @Vi-dot
Consolidation of all the extracted bibliographical info will then be used by default.

[2017-08-02 16:12] aoboturov opened #214 "tokenization produces corrupted features vectors for fulltext"
C++ isspace() would treat \r\t\n as symbols which would be removed in Wapiti's `src/reader.c`:

		uint32_t cnt = 0;
		while (*line != '\0') {
			toks[cnt++] = line;
			while (*line != '\0' && !isspace(*line))
				line++;
			if (*line == '\0')
				break;
			*line++ = '\0';
			while (*line != '\0' && isspace(*line))
				line++;
		}

We have PDF2XML which actually produces such sequences: `´\rÓÑÔÙØØØ

[2017-08-02 16:29] aoboturov commented on #214
In particular, the problem is with the GrobidDefaultAnalyzer#tokenize.

[2017-08-02 16:38] aoboturov commented on #214
Example document:

[AS_136494979227648@1409554347281_content_1.pdf](https://github.com/kermitt2/grobid/files/1194608/AS_136494979227648.1409554347281_content_1.pdf)

[2017-08-03 23:30] kermitt2 commented on #214
Just looking at it now ... the problem is that we only consider the "standard" space character when checking if a token is a space (when a token is a space, end-of-line or `\n`, it will be ignored when producing the feature vectors).

Basically it is fixed simply by changing the line 370 in `FullTextParser.java` - `text` is the textual content of the token (so it might be also any delimiters)

[co

[2017-08-04 14:23] lfoppiano commented on #185
Dear @rathancage, @UntoterOstgote,
     the new pdf2xml version for windows has been pushed yesterday, commit 75536cd4ea965fbcf7d26e12b6f43fc01a085c64.

You should be able to run grobid on Windows without problems. Please bear in mind that the reference architecture for GROBID is Linux (moreover compiling things on windows is a real pain).

[2017-08-04 14:26] #185 closed

[2017-08-04 14:27] lfoppiano commented on #161
Should be fixed with commit 75536cd. See [comment](https://github.com/kermitt2/grobid/issues/185#issuecomment-320262206) on issue #185

[2017-08-04 14:27] #161 closed

[2017-08-04 14:28] lfoppiano commented on #166
Should be fixed with commit 75536cd. See [comment](https://github.com/kermitt2/grobid/issues/185#issuecomment-320262206) on issue #185

Should you have still problems, feel free to reopen it.

[2017-08-04 14:28] #166 closed

[2017-08-04 14:31] lfoppiano commented on #150
I'm closing this as it doesn't seems an open issue.
@bhecht2 if you have more questions or remarks, feel free to reopen it.

[2017-08-04 14:35] kermitt2 commented on #150
reopen ;)

[2017-08-07 15:10] lfoppiano commented on #199
In the branch `dropwizard-service` there is no onejar. It has been replaced by the maven plugin `assembly` that can produce a `jar-with-dependencies`

[2017-08-10 21:32] aoboturov commented on #214
fixed in #216 #218.

[2017-08-10 21:32] #214 closed

[2017-08-13 15:59] dominic-sps opened #221 "Raw Output"
I am just processing the below reference using `processRawReference` option.
`Greaves M, Lawlor F. Angioedema: manifestations and management. J Am Acad Dermatol. 1991;25(1 Pt 2):155-161;`

First I got the below output :
[code]
Then I did some sample training and got the output:
[code]
Refer the issue details. I noted that some kind of post processing is happening and that removes the content. Miss

[2017-08-13 18:11] kermitt2 commented on #221
Hello Dominic,

There are some design choices behind the scene, and I didn't want to do something like parscit or anystyle-parser (the latter being more or less just a re-packaged parscit), which has a bibtex-style representation of bibliographical information. BibTex is "presentation-oriented", and this kind of raw fields cannot be exploited easily with digital library tools, openUrl, etc. I thin

[2017-08-14 19:03] kermitt2 commented on #196
I reopen because I will work on both better post-processing of initials and adding more suffix examples in the training data of authors in header.

[2017-08-14 19:04] kermitt2 commented on #209
work in progress...

[2017-08-14 19:10] kermitt2 commented on #201
To keep track of progress - on the console make the button working for text input services: date, header authors, citation authors, affiliation and citation services

[2017-08-15 05:12] dominic-sps commented on #196
Thank you for reopening this request. Earlier I fixed it temporarily in

`grobid-cpde/src/main/java/org/grobid/code/data/Person.java`
commented line 40 and added a line
`firstName = f;`
It worked well for my issue 1 above (_it changes the forename "GD" as "Gd"; "CP" as "Cp" etc._). However. the installation test failed stating that "expected Karl-Heinz got KARL-HEINZ". I am fine with this and I sk

[2017-08-15 08:56] dominic-sps commented on #221
I agree, GROBID is a very powerful engine indeed. I am not sure about how others are using GROBID in a live environment. I discussed with many in the publishing industry and missing content is a big issue for everyone. So my use-case is simple, if GROBID engine is not able to identify a particular content, it should just leave it as it is or put it in a XML comment. In my opinion this will make GR

[2017-08-18 16:10] iorala opened #222 "Incorrect normalization of page numbers (removing letters)"
Grobid apparently normalizes page numbers and strips them of any leading letters:

E.g.
_Smith, G. P., Mazzotta, P., Okabe, N., et al. 2016, MNRAS, 456, **L74**_
results in
`<biblScope unit="page">**74**</biblScope>` this behaviour is unfortunately incorrect: Some journals use letters in their page numbers and article ID's, especially for their Letters Section. Should I raise an issue on github fo

[2017-08-22 04:12] kermitt2 commented on #196
Hello!

I think this is correct to have `KARL-HEINZ` normalized into `Karl-Heinz` (and the test is here to ensure that). I worked a bit more on the two issues. Your example gives now the following (since commit 677f594f59c9788f28bb516b3e79238989b17589):

[code]
I think this corresponds to the expected result and formatting.

More training data for suffixes like Sr. Jr would be very welcome, there

[2017-08-22 04:34] dominic-sps commented on #196
Great Thank you. I'll check this out.

Regarding suffix samples, there are lot of training data already available
`grobid-trainer/resources/dataset/name/citation/corpus/standalone.names.tei.xml.exclude`

Not sure about the "exclude" file purpose. If you want full reference with different prefix and suffix, I'll arrange.

[2017-08-22 06:55] kermitt2 commented on #196
I assembled this file with suffix and unusual examples of names for this purpose, but using it resulted in a loss of accuracy for author name recognition of 2-4%, so I have excluded it from the training.

I suppose the problem is that's only names in isolation, not sequence of names as found in academic papers. It might also create over-representation of this kind of unusual names in the trained m

[2017-08-26 04:49] rawsh opened #225 "HTTP request gives 'Access-Control-Allow-Origin' error"
Curl using

[code]
works, but trying the equivalent POST request through js (e.g.)

[code]
fails with

[code]

I've read that this can be fixed by adding a header 'Access-Control-Allow-Origin: clientside.com' to the server. Is there a config file or somewhere that I can add the url I want to allow to make POSTs?

[2017-08-26 19:55] kermitt2 commented on #225
Hello,

Thank you for pointing this out to us. I think we can indeed allow CORS for all the Grobid web services by default, assuming that these are "read-only" services and the main usage would be public or internal pipelines not open to extranet.

If well informed people are reading this, are there in general safety issues with allowing CORS for all services that we should be aware of?

Commit 81

[2017-08-26 21:13] rawsh commented on #225
Thank you for the quick response!
@kermitt2 it looks like I'm still getting the same error. I git cloned the latest repo and that commit is in the history. Here is a screenshot, same js code:

![screenshot from 2017-08-26 16-11-31](https://user-images.githubusercontent.com/7035671/29745163-7714d142-8a79-11e7-9ce4-b73ee92ede71.png)

[2017-08-26 21:42] kermitt2 commented on #225
@rawsh thanks! You don't need `Access-Control-Allow-Origin: *` in your request (that comes in the server response) and for dataType - as the result is XML - `xhr.setRequestHeader("dataType", "text");`
(which should work better than `xhr.setRequestHeader("dataType", "text/xml");`). You should also not used I think `xhr.withCredentials(true)` because there is no authentication mechanism for the cros

[2017-08-26 22:08] rawsh commented on #225
@kermitt2 Looks like removing what you told me about brings something different; there is still the error with not passing the control check but now I actually get a 500 error from the server, when the same thing from curl works (I tried importing the curl command to postman and I get the same thing).

Here is the [output from grobid](https://p.teknik.io/wkBIY)

Would you mind sending me the js co